<section xcProfileHeader>
  <article class="top-image-cover">
    <img
      src="assets/img/user-modal-background.webp"
      alt="backgroun-modal"
      class="user-background-modal"
    />
  </article>
  <article class="profile-content" *ngFor="let user of users">
    <div class="top-content">
      <section class="user-data-wrapper">
        <div class="user-data-card" xcCardStyles [padding]="32">
          <span class="user-data-name">
            <h4 xcHeadline400 *ngIf="!isEditing">
              {{ firstText }} - {{ secondText }}
            </h4>
            <div *ngIf="isEditing" class="edit-container">
              <input
                xcHeadline400
                type="text"
                [value]="firstText + ' - ' + secondText"
                class="input-edit"
              />
              <div class="edit-buttons-icons">
                <button (click)="saveChanges()">
                  <xc-icon-check class="check-icon" />
                </button>
                <button (click)="cancelChanges()">
                  <xc-icon-close-s class="close-icon" />
                </button>
              </div>
            </div>
            <button *ngIf="!isEditing" (click)="enableEditing()">
              <xc-icon-edit class="edit-icon" />
            </button>
          </span>
          <span class="user-data-achievements" *ngIf="showUserData">
            <div class="achievements-1">
              <div class="number-flex">
                <span class="achievements-number">{{ user.completedObj }}</span>
                <p>completed objectives</p>
              </div>
              <div class="number-flex">
                <span class="achievements-number">{{ user.activeObj }}</span>
                <p>active objectives</p>
              </div>
            </div>
            <div class="achievements-2">
              <div class="number-flex">
                <span class="achievements-number">{{ user.nextSteps }}</span>
                <p>next steps</p>
              </div>
              <div class="number-flex">
                <span class="achievements-number">{{ user.invProyects }}</span>
                <p>involved projects</p>
              </div>
            </div>
          </span>
          <span class="project-data" *ngIf="!showUserData">
            <div class="project-data-info">
              <p>Created:</p>
              <strong>15.12.205</strong>
              <strong>by jane Doe</strong>
            </div>
            <div class="project-data-assigned">
              <p>Assigned To</p>
              <div class="project-data-assigned-image">
                <xc-rounded-image
                  image="https://randomuser.me/api/portraits/men/33.jpg"
                  [marginSize]="0"
                />
              </div>
            </div>
          </span>
        </div>
      </section>
      <section class="user-image-wrapper">
        <div class="user-image-container" *ngIf="showImage">
          <xc-rounded-image image="{{ user.imageUrl }}" [marginSize]="3" />
        </div>
      </section>
    </div>
  </article>
</section>
