.top-image-cover {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.user-background-modal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-content {
  position: relative;
  z-index: 10;
  background: var();
  border-radius: 20px 20px 0 0;
  margin-top: -160px;
}

.user-data-name {
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.user-profile-image {
  width: 200px;
  height: 200px;
}

.top-content {
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  flex-wrap: wrap-reverse;
}

@media screen and (max-width: 768px) {
  .top-content {
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 38px;
  }
}

.user-data-card {
  display: flex;
  flex-direction: column;
  background: white;
  gap: 24px;
}

.user-data-achievements {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .achievements-1::after {
    display: none;
  }
}

.number-flex {
  display: flex;
  justify-content: start;
  align-items: baseline;
  gap: 8px;
}

.achievements-1 .achievements-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.achievements-number {
  font-size: 32px;
  font-weight: 600;
}

.user-image-container {
  width: 200px;
  height: 200px;
}


.project-data{
  display: flex;
  flex-direction: column;
  gap:16px;
  width: 100%;
}

.project-data-info{
display: flex;
gap: 4px;
}
.project-data-assigned{
display: flex;
gap: 8px;
  width: 100%;
}
.project-data-assigned-image{
  width: 30px;
  height: 30px;
}