<form
  action="submit"
  class="flex gap-2 items-center py-[11px] px-3 rounded-lg shadow-Shadow400"
  [formGroup]="formInput"
>
  <input
    id="textInput"
    formControlName="textInput"
    class="text-Grey500 text-Copy-400-Regular-font-size font-Copy-400-Regular-font-weight font-manrope leading-Copy-400-Regular-line-Height py-[10px] px-4 focus-within:border-Grey400 focus-within:shadow-Shadow400 border-2 border-Grey200 rounded-lg outline-none w-[450px]"
    type="text"
    xcNgKeyup="Enter"
    (onKeyUp)="sendOptionsSelected()"
  />
  <div class="flex items-center gap-1">
    <div
      class="w-6 h-6 fill-Blocked stroke-Blocked cursor-pointer"
      (click)="resetSelectOptions()"
    >
      <xc-icon-times />
    </div>
    <div
      class="w-6 h-6 fill-Completed stroke-Completed cursor-pointer"
      (click)="sendOptionsSelected()"
    >
      <xc-icon-check />
    </div>
  </div>
</form>
