<section class="legal">
    <h1>Legal representation and conditions inside your ecosystem</h1>
    <article class="legal-customization">
      <div class="form_wrapper card_24">
        <h3>General Information</h3>
        <form class="form_wrapper-form">
          <label class="form_wrapper-form-field">
            <p class="bold">Your organization</p>
            <input type="text" placeholder="Fill with yout organization" />
          </label>
          <label class="form_wrapper-form-field">
            <p class="bold">Incorporation</p>
            <input type="text" placeholder="Fill in your incorporation" />
          </label>
          <label class="form_wrapper-form-field">
            <p class="bold">Country</p>
            <input type="text" placeholder="Fill in your country" />
          </label>
          <div class="address">
            <label class="form_wrapper-form-field-stretch">
              <p class="bold">Street</p>
              <input type="text" placeholder="Fill in with your street" />
            </label>
            <label class="form_wrapper-form-field">
              <p class="bold">Zip</p>
              <input type="text" placeholder="Fill in with your zip" />
            </label>
            <label class="form_wrapper-form-field">
              <p class="bold">Country</p>
              <input type="text" placeholder="Fill in with your country" />
            </label>
          </div>
          <label class="form_wrapper-form-field">
            <p class="bold">Legal representative(s)</p>
            <input
              type="text"
              placeholder="Fill in with your legal representatives"
            />
          </label>
          <label class="form_wrapper-form-field">
            <p class="bold">Registration number</p>
            <input type="text" />
          </label>
        </form>
      </div>
      <div class="terms card_24">
        <h3>Terms and conditions</h3>
        <label class="terms_field">
          <p class="bold">Project description</p>
          <textarea
            cols="6"
            rows="12"
            placeholder="Please describe your ecosystem"
          ></textarea>
        </label>
        <p class="disclaimer">
          These conditions apply additionally to the Terms and conditions of
          Xchange; in case of contractions, the Xchanges Terms and conditions
          are legally binding.
        </p>
      </div>
    </article>
    <div class="save_button">
      <button class="btn btn--filled">
        <xc-icon-save class="save_icon" />
        <p>Save changes</p>
      </button>
    </div>
  </section>