/* 
*Common class for buttons, used BEM for better structure & long term maintenance
*The regular classes are used for outline button
* Use as follow  <button class="btn btn--filled"> <xc-icon class="btn__icon"></xc-icon> </button>
*/

.btn {
    align-items: center;
    background: var(--xc-white);
    border: 1.5px solid var(--xc-black500);
    border-radius: var(--xc-rounded-eight);
    display: flex;
    gap: 4px;
    justify-content: center;
    padding: var(--xc-regular-padding);
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.btn:disabled {
    opacity: 0.2;
}

/* *Different buttons */

.btn--filled {
    background: var(--xc-black500);
}
.btn--filled > p {
    color: var(--xc-white);
}

.btn--ai {
    border: none;
    background: var(--xc-gradient-light-blue);
}
.btn--ai:hover {
    opacity: 1;
    background: var(--xc-gradient-medium-green);
}

.btn--tab_active{
    background: var(--xc-gradient-light-grey-on-white);
    color: var(--xc-black500);
    padding: 4px 8px;
    border-radius:var(--xc-rounded-eight);
}

.btn--tab_inactive{
    color: var(--xc-grey500);
    padding: 0px;
    border: none;
}

.btn--rounded{
    background:var(--xc-white);
    border-radius: 50%;
    border: none;
    height: 38px;
    padding: 0px;
    width: 38px;
}
.btn--rounded:hover{
    background: var(--xc-grey200);
}

.btn--rounded_xl{
    background:var(--xc-gradient-light-grey-on-white);
    border-radius: 50%;
    border: none;
    height: 56px;
    width: 56px;
    &:hover{
        background: var(--grey-200);
    }
}

.btn--rounded_sm{
    background:var(--xc-gradient-light-grey-on-white);
    border-radius: 50%;
    border: none;
    height: 30px;
    padding: 0px;
    width: 30px;
}
.btn--rounded_sm:hover{
    background: var(--xc-grey200);
}

.btn--rounded_reset{
    background:var(--xc-brand-light-blue);
    border-radius: 50%;
    border: none;
    height: 38px;
    padding: 0px;
    width: 38px;
    opacity: 0.5;
}
.btn--rounded_reset-active{
    background:var(--xc-brand-light-blue);
    border-radius: 50%;
    border: none;
    height: 38px;
    padding: 0px;
    width: 38px;
    opacity: 1; 
}
/* *classes for icons inside the buttons */

.btn__icon {
    align-items: center;
    display: flex;
    height: 20px;
    width: 20px;
    stroke: var(--xc-black500);
}

.btn__icon-lg {
    align-items: center;
    display: flex;
    height: 42px;
    width: 42px;
    stroke: var(--xc-black500);
}

.btn__icon-sm {
    align-items: center;
    display: flex;
    height: 16px;
    width: 16px;
    stroke: var(--xc-black500);
}

.btn__icon_filled-sm {
    align-items: center;
    display: flex;
    height: 16px;
    width: 16px;
    stroke: var(--xc-white);
}

.btn__icon_filled {
    align-items: center;
    display: flex;
    height: 20px;
    width: 20px;
    stroke: var(--xc-white);
}
.btn__icon_filled-sm {
    align-items: center;
    display: flex;
    height: 16px;
    width: 16px;
    stroke: var(--xc-white);
}