@mixin custom-scrollbar {
    // Para navegadores basados en WebKit (Chrome, Safari, Edge)
    &::-webkit-scrollbar {
      width: 4px;
      height: 16px;
    }
  
    &::-webkit-scrollbar-track {
      background: var(--xc-grey100);
      border-radius: 20px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: var(--xc-black500);
      border-radius: 20px;
    }
  
    // Para Firefox
    scrollbar-width: thin;
    scrollbar-color: #000 #f0f0f0;
  }
  