<section class="tab">
  <div class="tab_wrapper">
    <button class="btn--tab_active">All projects</button>
    <button class="btn--tab_inactive">Watchlist</button>
    <button class="btn--tab_inactive">My projects</button>
    <dialog class="btn--tab_inactive">Sort by</dialog>
    <button class="btn btn--rounded btn--rounded_reset">
      <xc-icon-redo class="btn__icon"/>
    </button>
    <button class="btn--rounded button">
      <xc-icon-search class="btn__icon "/>
    </button>
  </div>
</section>
