<section class="profile">
  <article *ngFor="let user of users" xcCardMeasures="userCard" class="profile__card">
    <div class="profile__image-wrapper-test">
      <xc-rounded-image [marginSize]=0 [image]="user.imageUrl"/>
    </div>
    <h1 xcMainHeading="Headline400">{{user.name}}</h1>
    <div class="tag-wrapper">
      <p *ngFor="let tag of user.tags" xcProfileTags="gray">{{tag}}</p>
    </div>
    <p xcMainHeading="Copy400Regular">{{user.description}}</p>
    <div class="profile__collabs">
      <span class="profile__collabs-info">
        <p class="profile__collabs-count">{{user.collaborations}}</p>
        <p class="profile__collabs-text text-sky-500">Collaborations</p>
      </span>
      <div *ngIf="user.email"  class="profile__collabs-icon-wrapper">
        <span class="profile__collabs-icon">
          <xc-icon-envelope-alt />
        </span>
      </div>
      <div *ngIf="user.linkedin"  class="profile__collabs-icon-wrapper">
        <span class="profile__collabs-icon">
          <xc-icon-envelope-alt />
        </span>
      </div>
    </div>
  </article>
</section>
