<section class="profile">
  <article xcCardMeasures class="profile__card">
    <div class="profile__image-wrapper">
      <img
        src="https://xsgames.co/randomusers/assets/avatars/male/36.jpg"
        alt="User Avatar"
        class="profile__image"
      />
    </div>
    <h1 xcMainHeading="Headline400">Name</h1>
    <p xcTag="gray">Tester</p>
    <div class="profile__tabs"></div>
    <p xcMainHeading="Copy400Regular">ssss</p>
    <div class="profile__collabs">
      <span class="profile__collabs-info">
        <p class="profile__collabs-count">0</p>
        <p class="profile__collabs-text">Collaborations</p>
      </span>
      <div class="profile__collabs-icon-wrapper">
        <span class="profile__collabs-icon">
          <xc-icon-envelope-alt />
        </span>
      </div>
    </div>
  </article>
</section>
