
.wrapper__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper__sort-container {
  display: flex;
  justify-content: flex-end;
}

.sort-component {
  margin-right: 32px;
}

.eco-members {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  align-self: flex-start;
}

.cards {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 780px;
}
