<!-- <main class="wrapper" ProfileHeaderDirective>
  <aside class="wrapper__sidebar">
    <xc-new-aside-nav />
  </aside>
  <div class="wrapper__content">
    <div class="wrapper__sort-container">
      <xc-sort-by class="sort-component" />
    </div>
    <h2 class="eco-members">Ecosystem members</h2>
    <section class="cards">
      <xc-community-cards />
    </section>
  </div>
</main> -->
<main class="wrapper" ProfileHeaderDirective>
  <aside class="wrapper__sidebar">
    <xc-new-aside-nav />
  </aside>
  <section class="wrapper_header">
    <xc-user-header />
    <div class="wrapper_content">
      <div class="wrapper_content_item">
        <h5 class="sub-title">Organizer</h5>
        <div class="wrapper_content_item-organizer">
          <!-- <xc-chat-text/> -->
          <section class="message-wrapper">
            <div class="avatar-wrapper">
              <img src="assets/icons/Avatar.svg" alt="" />
            </div>
            <div class="bot-message-wrapper">
              <p class="message">
                Hello, I am Scotty. I am here to help you with the realization
                of your ideas. What would you like to do?
              </p>
            </div>
          </section>
          <section class="options-input">
            <div class="icons-container">
              <xc-chat-options-button [label]="'Make an announcement'" iconName="megaphone"/>
              <xc-chat-options-button [label]="'Start new project'" iconName="rocket"/>
              <xc-chat-options-button [label]="'Go to projects'" iconName="rocket">
              </xc-chat-options-button>
              <xc-chat-options-button [label]="'Go to projects'" iconName="rocket">
              </xc-chat-options-button>
              <xc-chat-options-button [label]="'Go to projects'" iconName="rocket">
              </xc-chat-options-button>
            </div>
            <div class="input-wrapper">
              <textarea type="text" class="user-message"  placeholder="Type your message or talk to me by using the speech button"></textarea>
              <div class="chat-options">
                <xc-button-500 type="round_inactive"/>
                <xc-button-500 type="round_inactive"/>
                <xc-button-500 type="round_inactive"/>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="wrapper_content_item">
        <h5 class="sub-title">My feed</h5>
        <div class="wrapper_content_item-feed">
          <nav class="feed-nav">
            <xc-button-400 type="filled_inactive"/>
            <xc-button-400 type="ai_button"/>
            <xc-feed-buttons class="test"/>
          </nav>
        </div>
      </div>
    </div>
  </section>
</main>
