<!-- <main class="wrapper" ProfileHeaderDirective>
  <aside class="wrapper__sidebar">
    <xc-new-aside-nav />
  </aside>
  <div class="wrapper__content">
    <div class="wrapper__sort-container">
      <xc-sort-by class="sort-component" />
    </div>
    <h2 class="eco-members">Ecosystem members</h2>
    <section class="cards">
      <xc-community-cards />
    </section>
  </div>
</main> -->
<main class="wrapper" ProfileHeaderDirective>
  <aside class="wrapper__sidebar">
    <xc-new-aside-nav />
  </aside>
  <section class="wrapper_header">
    <xc-user-header />
    <div class="wrapper_content">
      <div class="wrapper_content_item">
        <h5 class="sub-title">Organizer</h5>
        <div class="wrapper_content_item-organizer">
          
           aqui ira chat
        </div>
      </div>
      <div class="wrapper_content_item">
        <h5 class="sub-title">My feed</h5>
        <div class="wrapper_content_item-feed">Columna 2</div>
      </div>
    </div>
  </section>
</main>
