.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  gap: 32px;
  padding-top: 24px;
  padding-right: 32px;
  padding-left: 24px;
  background: var(--xc-grey50);
  @media (max-width: 798px) {
    height: auto;
  }
  &__sidebar {
    padding-bottom: 32px;
  }
  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--xc-grey50);
    &-content {
      display: flex;
      gap: 20px;
      padding: 20px;
      width: 100%;
      height: 100%;
      @media (max-width: 798px) {
        flex-wrap: wrap;
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 17px;
        width: 50%;
        @media (max-width: 798px) {
          width: 100%;
        }
        &-organizer {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          margin-bottom: 35px;
          border-radius: 8px;
          overflow-y: auto;
          @media (max-width: 798px) {
            width: 100%;
          }
          &-content {
            display: flex;
            flex-direction: column;
            gap: 12px;
            background: white;
            justify-content: space-between;
            height: 100%;
            padding: 12px 24px;
          }
        }
      }
    }
  }
}

.show-sidebar-button {
  display: none;
}

.bot-icon {
  width: 24px;
  height: 24px;
}

.avatar-wrapper {
  width: 24px;
  height: 24px;
}

.sub-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--xc-black400);
}

.options-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icons-container {
  width: 100%;
  display: flex;
  gap: 18px;
  white-space: nowrap;
  overflow-x: scroll;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.user-message {
  width: 100%;
  border: solid 0.5px var(--xc-grey300);
  border-radius: 12px;
  padding: 8px;
  resize: none;
  overflow-y: auto;
  display: block;
  font-size: 14px;
  line-height: 1.5;
}

.user-message:focus {
  outline: none;
}

.chat-options {
  display: flex;
  gap: 4px;
}

.feed-nav {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 16px;
  background: white;
}

.feed-nav-buttons {
  display: flex;
  gap: 16px;
}

.ai-filters {
  display: flex;
  align-items: center;
  background: white;
  gap: 8px;
  padding: 0px 24px 0px 24px;
}

.redo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--xc-brand-light-blue);
  border-radius: 32px;
  width: 38px;
  height: 38px;
}

.redo-icon {
  width: 19px;
  height: 19px;
  stroke: black;
}

.feed-cards {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 16px;
  max-height: 580px;
}

.objective-injector {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-modal{
  width: 100%;
}

.wrapper__sidebar {
  flex-shrink: 0;
}

.wrapper__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  overflow: hidden;
}

.wrapper__sort-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.sort-component {
  margin-right: 32px;
}

.eco-members {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  align-self: flex-start;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  flex: 1;
  margin-top: 8px;
}

// temporal chat, to be removed
.message-wrapper {
  display: flex;
  gap: 8px;
  align-items: start;
}

.message {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
