<form class="form_demo" [formGroup]="exampleForm" (ngSubmit)="handlerSubmit($event)">
  <app-form-field>
    <app-toogle [checked]="true" [color]="'purple'" [size]="'small'"/>
  </app-form-field>
  
  <app-form-field>
    <app-toogle [checked]="true" [color]="'green'"/>
  </app-form-field>


  <app-toogle [checked]="true" [color]="'yellow'" [size]="'large'" label="a label can come along"/>

  <app-input [type]="'text'" formcontrolname="" placeholder="This is input"/>
  
  <app-toogle-radius/>
  <app-form-field>
    <app-textarea formControlName="txarea" [error]="true" placeholder="This is a textarea"/>
  </app-form-field>

  <button >enviar</button>
</form>

<p>{{ exampleForm.value | json }} </p>