  <article  class="premium-upgrade">
    <section class="premium-upgrade-video">
      <h5 xcHeadlineStyles class="headline-300">Upgrade to investor Premium</h5>
      <iframe
        class="premium-upgrade-video-content"
        height="350"
        src="https://www.youtube.com/watch?v=wI00QO2A2j4&list=LL&ab_channel=Ned"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </section>
    <section class="premium-upgrade-options">
      <div class="premium-upgrade-options-basic">
        <h6
          xcHeadlineStyles
          class="headline-300 premium-upgrade-options-basic-title"
        >
          Xcamp Basic
        </h6>
        <div class="premium-upgrade-options-basic-container">
          <span class="premium-upgrade-options-basic-container-item">
            <div class="premium-upgrade-options-basic-container-item-wrapper">
              <xc-icon-check-circle
                class="premium-upgrade-options-basic-container-item-wrapper-icon"
              />
            </div>
            <p xcCopyStyles class="copy-400">
              Projects and collaboratios in the community
            </p>
          </span>
          <span class="premium-upgrade-options-basic-container-item">
            <div class="premium-upgrade-options-basic-container-item-wrapper">
              <xc-icon-check-circle
                class="premium-upgrade-options-basic-container-item-wrapper-icon"
              />
            </div>
            <p xcCopyStyles class="copy-400">Collaboration reward credits</p>
          </span>
          <span class="premium-upgrade-options-basic-container-item">
            <div class="premium-upgrade-options-basic-container-item-wrapper">
              <xc-icon-check-circle
                class="premium-upgrade-options-basic-container-item-wrapper-icon"
              />
            </div>
            <p xcCopyStyles class="copy-400">
              Start projects with AI templates
            </p>
          </span>
          <span class="premium-upgrade-options-basic-container-item">
            <div class="premium-upgrade-options-basic-container-item-wrapper">
              <xc-icon-check-circle
                class="premium-upgrade-options-basic-container-item-wrapper-icon"
              />
            </div>
            <p xcCopyStyles class="copy-400">
              Project navigation and collaborator assignments
            </p>
          </span>
        </div>
      </div>
      <div class="premium-upgrade-options-investor">
        <h6 xcHeadlineStyles class="headline-300">Investor Premium</h6>
        <div class="premium-upgrade-options-investor-container">
          <span class="premium-upgrade-options-investor-container-item">
            <div
              class="premium-upgrade-options-investor-container-item-wrapper"
            >
              <xc-icon-check-circle
                class="premium-upgrade-options-investor-container-item-wrapper-icon"
              />
            </div>
            <p xcCopyStyles class="copy-400">
              Advantage number one lorem ipsum
            </p>
          </span>
          <span class="premium-upgrade-options-investor-container-item">
            <div
              class="premium-upgrade-options-investor-container-item-wrapper"
            >
              <xc-icon-check-circle
                class="premium-upgrade-options-investor-container-item-wrapper-icon"
              />
            </div>
            <p xcCopyStyles class="copy-400">
              Advantage number one lorem ipsum
            </p>
          </span>
          <span class="premium-upgrade-options-investor-container-item">
            <div
              class="premium-upgrade-options-investor-container-item-wrapper"
            >
              <xc-icon-check-circle
                class="premium-upgrade-options-investor-container-item-wrapper-icon"
              />
            </div>
            <p xcCopyStyles class="copy-400">
              Advantage number one lorem ipsum
            </p>
          </span>
          <span class="premium-upgrade-options-investor-container-item">
            <div
              class="premium-upgrade-options-investor-container-item-wrapper"
            >
              <xc-icon-check-circle
                class="premium-upgrade-options-investor-container-item-wrapper-icon"
              />
            </div>
            <p xcCopyStyles class="copy-400">
              Advantage number one lorem ipsum
            </p>
          </span>
        </div>
        <div class="premium-upgrade-options-investor-footer">
          <small xcCopyStyles class="copy-400-purple">FREE IN BETA</small>
          <button xcButtonsWrappers class="button-filled-noHeight button">
            <xc-icon-star class="button-icon" />
            <p>Upgrade to Premium</p>
          </button>
        </div>
      </div>
    </section>
  </article>