.tags {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);

  &_content {
    align-items: start;
    display: flex;
    position: relative;
    border-radius: 16px;
    gap: 16px;
    justify-content: center;
    width: 100%;
    margin: auto;
    height: auto;

    &-card {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      background: white;
      gap: 32px;
      width: 70%;
      height: 70%;
      border-radius: 16px;
      padding: 32px;

      &-article {
        display: flex;
        gap: 16px;
        align-items: center;

        &-item {
          display: flex;
          border-radius: 16px;
          gap: 8px;
          align-items: center;
          padding: 8px;
          background: var(--xc-gradient-light-blue);
        }
      }

      &-injector {
        display: flex;
        gap: 16px;
        width: 100%;
        flex-wrap: wrap;

        &-input {
          border: 1px solid var(--xc-gray300);
          padding: 6px;
          border-radius: 6px;
          caret-color: var(--xc-brand-medium-blue);
        }
      }

      &-new {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;

        &-span {
          display: flex;
          width: 100%;
          border: solid 1px;
          border-color: var(--xc-grey200);
          background-color: var(--xc-gray200);
          border-radius: 8px;
          padding: 11px;
          justify-content: space-between;
          align-items: center;

          &-input {
            outline: none;
            width: 100%;
            height: 100%;
            caret-color: var(--xc-brand-medium-blue);
          }

          &-icon {
            display: flex;
            width: 24px;
            height: 24px;
            stroke: var(--xc-black500);
          }
        }
      }
    }

    &-icon {
      display: flex;
      &-red {
        display: flex;
        width: 20px;
        height: 20px;
        stroke: red;
      }
    }
  }
}

.ia-icon {
  display: flex;
  width: 20px;
  height: 20px;
  stroke: var(--xc-black500);
}

.tag {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.divider {
  width: 100%;
  border-bottom: 1px dashed var(--xc-grey200);
  gap: 0px;
}