<button class="portfolio" (click)="onOpenModal()">
  <article class="portfolio_header">
    <img
      [src]="portfolio.image"
      alt="portfolio-header-image"
      class="portfolio_header_image"
    />
  </article>
  <article class="portfolio_title">
    <h3>{{ portfolio.title }}</h3>
    <div class="portfolio_title-tags">
      <span xcProfileTags="gray" *ngFor="let tag of portfolio.tags">{{ tag }}</span>
    </div>
  </article>
  <article class="portfolio_numbers">
    <div class="portfolio_numbers-stats">
      <div class="stat-values">
        <h2 class="value">83.814€</h2>
        <span class="label medium-300">Collaboration value</span>
      </div>
      <div class="stat-values">
        <h2 class="value">83.814€</h2>
        <span class="label medium-300">Project value</span>
      </div>
      <div class="project-values">
        <div class="collaborators">
          <h2 class="value">18</h2>
          <span class="label medium-300">Collaborators</span>
        </div>
        <div class="quality">
          <h2 class="value">78%</h2>
          <span class="label medium-300">Quality</span>
        </div>
        <div class="proof">
          <h2 class="value">38</h2>
          <span class="label medium-300">Proof</span>
        </div>
      </div>
    </div>
  </article>
  <article class="portfolio_tasks">
    <xc-project-progress-bar
      [completed]="portfolio.completed || 0"
      [open]="portfolio.open || 0"
      [suggested]="portfolio.suggested || 0"
      [objectivesInProject]="portfolio.objectivesInProject || 0"
      class="portfolio_tasks-bar"
    >
    </xc-project-progress-bar>
  </article>
  <article class="portfolio_description">
    <p>{{ portfolio.description }}</p>
  </article>
</button>

<dialog class="portfolio_modal" *ngIf="selectedPortfolio">
  <div class="portfolio_modal-container">
    <app-portfolio-modal 
      class="modal" 
      [portfolio]="selectedPortfolio"
    />
    <button class="portfolio_modal-close btn--rounded" (click)="onCloseModal()">
      <xc-icon-close-s class="portfolio_modal-close-icon"></xc-icon-close-s>
    </button>
  </div>
</dialog>
