.portfolio {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 20px 16px;
  max-height: 520px;
  box-shadow: var(--xc-boxShadow-400);
  background-color: var(--xc-white);
  border-radius: var(--xc-rounded-eight);
  &_title {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    &-tags {
      display: flex;
      gap: 6px;
      overflow-x: hidden;
    }

  }
  &_numbers {
    display: flex;
    width: 100%;
    &-stats {
      display: flex;
      width: 100%;
      gap: 24px;
      .stat-values {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid var(--xc-grey100);
        flex: 1;
        max-width: 180px;
        .value {
         text-align: center;
        }
        .label {
          color: var(--xc-black400);
          text-align: center;
        }

      }
      .project-values {
        display: flex;
        gap: 8px;
        .collaborators {
          text-align:center;
          padding:0 16px;
          border-right: 1px solid var(--xc-grey100);
        }
        .quality {
          text-align:center;
          padding:0 16px;
          border-right: 1px solid var(--xc-grey100);
        }
        .proof {
          text-align:center;
          padding:0 16px;
        }
      }
    }
  }
  &_tasks {
    display: flex;
    width: 100%;
    &-bar {
      width: 100%;
      z-index: 0;
      display: flex;
    }
  }
  &_description {
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 10;

    &-container {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      max-width: 80%;
    }

    .modal {
      width: 100%;
      border-radius: 16px;
      background: white;
      transform: scale(0.8);
      opacity: 0;
      animation: slideIn 0.3s ease-in-out forwards;
      height: min-content;
    }
    &-close {
      margin-left: 23px;
      display: flex;
      align-items: center;
      justify-content: center;
      &-icon {
        display: flex;
        width: 24px;
        height: 24px;
        stroke: var(--xc-black500);
      }
    }
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}