xc-icon-custom-star {
  fill:#F4F4F4;
}

.chose,
.chose ~ xc-icon-custom-star,
.isToRate:hover,
.isToRate:hover ~ xc-icon-custom-star
{
  fill:#FAE651;
  cursor: pointer;
}

.chose2,
.chose2 {
  fill: #FAE651;
}