<div class="w-full h-[20px] flex">
   <!--Gris-->
   <div
   *ngIf="objectivesInProject - open - completed > 0"
   [ngClass]="getTotalClass(open, completed)"
   [style.width]="
     getSize(objectivesInProject - open - completed, objectivesInProject)
   "
   class="relative"
   (mouseover)="mouseMarkersActionObjectives = true"
   (mouseleave)="mouseMarkersActionObjectives = false"
 >
 <div
 class="bg-[var(--xc-grey200)] rounded-lg  w-full h-full flex items-center justify-center"
>
<span
  class="text-paragraph text-center font-manrope font-regular leading-project-bar"
  >{{ objectivesInProject - open - suggested - completed }}</span
>
</div>
   <div
     *ngIf="
       objectivesInProject - open - completed > 0 &&
       showMarkers &&
       mouseMarkersActionObjectives
     "
     class="absolute translate-x-[50%] translate-y-[20%] right-1/2 top-1/2 p-2 flex flex-col gap text-white font-manrope font font-semibold text-small bg-black whitespace-nowrap"
   >
     <p>Total objectives</p>
     <div class="flex gap-2 justify-start">
       <div class="bg-[var(--xc-grey200)] w-4 h-4 border border-white"></div>
       <span>{{ objectivesInProject - open - suggested - completed }}</span>
     </div>
   </div>
 </div>
  <!--Morado suggested-->
  <div
    *ngIf="suggested > 0"
    [style.width]="getSize(suggested, objectivesInProject)"
    [class.rounded-l-lg]="completed === 0"
    [ngClass]="SuggestedClass"
    class="relative min-w-[20%]"
    (mouseover)="mouseMarkersActionOpen = true"
    (mouseleave)="mouseMarkersActionOpen = false"
  >
    <div
      class="suggested-indicator rounded-e-lg h-full flex items-center justify-center"
    >
      <span
        class="text-paragraph text-center font-manrope font-regular leading-project-bar"
        >{{ suggested }}</span
      >
    </div>
    <div
      *ngIf="suggested > 0 && showMarkers && mouseMarkersActionOpen"
      class="absolute translate-x-[50%] translate-y-[20%] right-1/2 top-1/2 p-2 flex flex-col gap text-white font-manrope font font-semibold text-small rounded-lg bg-black whitespace-nowrap"
      [ngClass]="{'translate-x-[60%]': suggested <= 2 && completed <= 2, 'translate-x-[80%]':suggested ===0 && completed <= 2}"
    >
      <p>Objectives suggested</p>
      <div class="flex gap-2 justify-start">
        <div class="suggested-indicator rounded-e-lg w-4 h-4 border border-white"></div>
        <span>{{ suggested }}</span>
      </div>
    </div>
  </div>
  <!--amarillo, open-->
  <div
    *ngIf="open > 0"
    [style.width]="getSize(open, objectivesInProject)"
    [ngClass]="getOpenClass(objectivesInProject, open)"
    class="relative min-w-[20%]"
    (mouseover)="mouseMarkersActionOpen = true"
    (mouseleave)="mouseMarkersActionOpen = false"
  >
    <div
      class="bg-Second_accent  h-full flex items-center justify-center"
      [ngClass]="open === objectivesInProject ? 'rounded-lg' : 'rounded-e-lg'"
    >
      <span
        class="text-paragraph text-center font-manrope font-regular leading-project-bar"
        >{{ open }}</span
      >
    </div>
    <div
      *ngIf="open > 0 && showMarkers && mouseMarkersActionOpen"
      class="absolute translate-x-[50%] translate-y-[20%] right-1/2 top-1/2 p-2 flex flex-col gap text-white font-manrope font font-semibold text-small rounded-lg bg-black whitespace-nowrap"
      [ngClass]="{
        'translate-x-[60%]': open <= 2 && completed <= 2,
        'translate-x-[80%]': open === 0 && completed <= 2
      }"
    >
      <p>Objectives open</p>
      <div class="flex gap-2 justify-start">
        <div class="bg-Second_accent w-4 h-4 border border-white"></div>
        <span>{{ open }}</span>
      </div>
    </div>
  </div>
  <!--el verde, completed-->
  <div
    *ngIf="completed > 0"
    [style.width]="getSize(completed, objectivesInProject)"
    class="relative complete-indicator rounded-e-lg min-w-[20%]"
    [ngClass]="getCompleteClass()"
    (mouseover)="mouseMarkersActionComplete = true"
    (mouseleave)="mouseMarkersActionComplete = false"
  >
    <div
      class="complete-indicator rounded-lg h-full flex items-center justify-center"
    >
      <span
        class="text-paragraph text-center font-manrope font-regular leading-project-bar"
        >{{ completed }}</span
      >
    </div>
    <div
      *ngIf="completed > 0 && showMarkers && mouseMarkersActionComplete"
      class="absolute translate-x-[50%] translate-y-[20%] right-1/2 top-1/2 p-2 flex flex-col gap text-white font-manrope font font-semibold text-small rounded-lg bg-black whitespace-nowrap"
      [ngClass]="{ 'translate-x-[80%]': completed <= 2 }"
    >
      <p>Objectives completed</p>
      <div class="flex gap-2 justify-start">
        <div class="complete-indicator w-4 h-4 border border-white"></div>
        <span>{{ completed }}</span>
      </div>
    </div>
  </div>
</div>
