    <article class="card">
      <header class="card-header">
        <img
          src="assets/img/Suspend-project.png"
          alt="suspend-project-header"
        />
      </header>
      <div class="content">
        <h3>Archive Project</h3>
        <p>
          Do you really want to archive NextGen LL Xchange Studio Project? Lorem
          ipsum dolor sit amet text.
        </p>
      </div>
      <div class="action_buttons">
        <button class="btn" (click)="closeSuspendModal()">
          <xc-icon-times class="btn__icon" />
          <p class="bold">Cancel</p>
        </button>
        <button class="btn btn--ban">
          <xc-icon-trash class="btn__icon_ban" />
          <p class="bold">Archive project</p>
        </button>
      </div>
    </article>