.filter-dropdown-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.custom-dropdown {
  position: relative;
}

.dropdown-trigger {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  background: var(--xc-white);
  border: 1px solid var(--xc-grey300);
  border-radius: 8px;
  cursor: pointer;

  .trigger-value {
    color: var(--xc-black500);
  }
  .arrow {
    &-icon {
      display: flex;
      width: 30px;
      height: 30px;
      stroke: var(--xc-black500);
    }
  }
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  width: 150px;
  background: var(--xc-white);
  border: 1px solid var(--xc-grey300);
  border-radius: 8px;
  box-shadow: var(--xc-boxShadow-400);
  z-index: 10;

  .dropdown-menu-header {
    padding: 12px 16px;
    background: var(--xc-grey100);

    .header-text {
      margin: 0;
      color: var(--xc-black500);
    }
  }

  .dropdown-options {
    list-style: none;
    margin: 0;
    padding: 4px 0;
    max-height: 200px;
    text-align: center;
    .dropdown-option {  
      padding: 4px 4px;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: var(--xc-grey50);
      }
      &.selected {
        background: var(--xc-gradient-light-grey-on-white);
      }
    }
  }
}
