<div class="card">
  <xc-header-title title="Fabian Feutlinske (Xchange)" [isEditable]="false"></xc-header-title>
  <div class="info-rows">
    <span class="created-at">
      <p xcCopyStyles class="copy-300-gray">Created: </p>
      <p xcCopyStyles class="copy-300-gray-bold">15.12.24 by jane Doe</p>
    </span> 
    <span class="assigned-to">
      <p xcCopyStyles class="copy-300-gray">Assigned to: </p>
      <div class="assigned-to-rounded">
        <xc-rounded-image
          class="assigned-to-rounded-image"
          [image]="'https://randomuser.me/api/portraits/women/52.jpg'"
          [marginSize]="2"
        ></xc-rounded-image>
        <xc-rounded-image
          class="assigned-to-rounded-image"
          [image]="'https://randomuser.me/api/portraits/men/65.jpg'"
          [marginSize]="2"
        ></xc-rounded-image>
        <xc-rounded-image
          class="assigned-to-rounded-image"
          [image]="'https://randomuser.me/api/portraits/women/44.jpg'"
          [marginSize]="2"
        ></xc-rounded-image>
      </div>
    </span> 
  </div>
</div>