

.navigation-label {
    font-size: 14px;
}

.container {
    align-items: center;

    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.container_icon{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container:hover {
    cursor: pointer;
    box-shadow: var(--xc-boxShadow-500);
}

.container_iconLabel {
    align-items: center;
    display: flex;
    gap: 8px;
}

.container_icon {
    display: flex;
    width: 24px;
    height: 24px;
    stroke: black;
    fill: black;
}

.container_arrowSelection {
    width: 24px;
    stroke: black;
}

.notification {
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  right: 24px; /* Adjust based on your layout */
  top: 0;
}

/* Active state - will be shown when applied */
.notification--active {
    background: #B8FBFF;
  display: block;
}

.wifi-rotate{
    transform: rotate(45deg);
}

