.navigation-label {
    font-size: 14px;
}

.container_icon{
    display: flex;
    flex-direction: column;
    gap: 4px;
    display: flex;
    width: 24px;
    height: 24px;
    stroke: black;
    fill: black;
}

.container:hover {
    cursor: pointer;
    box-shadow: var(--xc-boxShadow-500);
    border: 1px var(--xc-boxShadow-500);
}

.container_iconLabel {
    align-items: center;
    display: flex;
    gap: 8px;
}

.container_icon:hover {
    cursor: pointer;
    box-shadow: var(--xc-boxShadow-500);
    background: red;
    border: 1px var(--xc-boxShadow-500);
}

.container_arrowSelection {
    width: 24px;
    stroke: black;
}

.notification {
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  right: 24px; 
  top: 0;
}


.notification--active {
    background: #B8FBFF;
  display: block;
}

.wifi-rotate{
    transform: rotate(45deg);
}

