.templates {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 165px;
    margin-right: 165px;
    height: 100%;
    margin-bottom: 32px;

    @media (max-width: 1830px) {
      margin: 0 120px;
    }

    @media (max-width: 1640px) {
      margin: 0 100px;
      overflow-y: scroll;
    }

    @media (max-width: 1440px) {
      margin: 0 80px;
    }

    @media (max-width: 1280px) {
      margin: 0 60px;
    }

    @media (max-width: 1024px) {
      margin: 0 24px;
    }

    &-wrapper {
      background: var(--xc-white);
      border-radius: var(--xc-rounded-eight);
      box-shadow: var(--xc-boxShadow-400);
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 24px;
      height: 85%;

      &-focus {
        display: flex;
        gap: 40px;
        overflow-x: auto;

        &-column {
          display: flex;
          flex-direction: column;
          flex: 1;
          min-width: 0;
          gap: 20px;

          .templates-wrapper-select-all {
            display: flex;
            align-items: center;
            gap: 12px;

            .button-select {
              text-decoration: underline;
              color: var(--xc-black500);
              cursor: pointer;
              background: none;
              border: none;
              padding: 0;
            }
          }

          .templates-wrapper-list {
            max-height: calc(100% - 16px);
            overflow-y: auto;
            padding-right: 4px;

            ul {
              list-style: none;
              padding: 0;
              margin: 0;
              display: flex;
              flex-direction: column;
              gap: 14px;
            }

            &::-webkit-scrollbar {
              width: 4px;
            }

            &::-webkit-scrollbar-thumb {
              background-color: var(--xc-grey300);
              border-radius: 20px;
            }

            &::-webkit-scrollbar-track {
              background: var(--xc-grey100);
              border-radius: 20px;
            }
          }

          .templates-wrapper-checkbox {
            display: flex;
            align-items: center;
            gap: 8px;

            input[type="checkbox"] {
              accent-color: var(--xc-categories-completed);
              width: 16px;
              height: 16px;
            }

            span {
              font-size: 14px;
            }
          }
        }
      }
    }

    .action_buttons {
      display: flex;
      justify-content: flex-end;
      gap: 16px;
      .btn:disabled,
      .btn--filled:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }