<section>
  <section class="reset">
    <section class="reset_wrapper">
      <div class="reset_wrapper-div">
        <header class="reset_wrapper-div-header">
          <div class="reset_wrapper-div-header-container">
            <img
              src="../../../assets/img//X-Vector.webp"
              alt="Xchange-logo"
              class="reset_wrapper-div-header-container-image"
            />
          </div>
          <p class="reset_wrapper-div-header-title">camp</p>
        </header>

        <ng-container *ngIf="step === 1">
          <div class="reset_wrapper-div-form">
            <form class="container">
              <label class="container_field">
                <p xcHeadlineStyles class="headline-200">Set a new password</p>

                <span class="container_field-password">
                  <input
                    class="container_field-password-inp"
                    placeholder="***"
                  />
                  <button
                    type="button"
                    class="icon-button"
                  >
                    <xc-icon-eye *ngIf="!showPassword" class="icon-eye" />
                    <xc-icon-eye-slash *ngIf="showPassword" class="icon-eye" />
                  </button>
                </span>
              </label>
              <label class="container_field">
                <p xcHeadlineStyles class="headline-200">
                  Repeat the new password
                </p>
                <span class="container_field-confirm mismatch">
                  <input
                    [type]="showConfirm ? 'text' : 'password'"
                    class="container_field-confirm-inp"
                    placeholder="***"
                  />
                  <button
                    type="button"
                    class="icon-button">
                    <xc-icon-eye *ngIf="!showConfirm" class="icon-eye" />
                    <xc-icon-eye-slash *ngIf="showConfirm" class="icon-eye" />
                  </button>
                </span>
                <div class="error-text">
                  Please enter the exact same password
                </div>
                <!-- *ngIf="form.hasError('mismatch') && form.get('confirm')?.touched" -->
              </label>
              <button type="submit" class="button-active">
                Submit
              </button>
              <!-- [disabled]="form.invalid" [ngClass]="form.valid ? 'button-active' : 'button-inactive'" (click)="changeStep()" -->
            </form>
          </div>
        </ng-container>
        <ng-container *ngIf="step === 2">
          <section class="reset_wrapper-div-send">
            <header class="reset_wrapper-div-send-image">
                <img src="../../../assets/img/Congrats.svg" alt="">
            </header>
            <p xcHeadlineStyles class="headline-300 text">Your password has been successfully reset.</p>
            <button class="reset_wrapper-div-send-button ">
              <p xcCopyStyles class="text copy-400-bold">
                Go to login page
              </p>
          </button>
        </section>
        </ng-container>
      </div>
      <div class="meta-links">
        <a
          xcCopyStyles
          class="copy-200-bold learn_about"
          href="https://xchange.eco/how-to/"
          target="_blank"
          >Learn more about Xcamp</a
        >
        <a xcCopyStyles class="copy-200-bold" href="/">Imprint</a>
        <a
          xcCopyStyles
          class="copy-200-bold"
          href="https://xchange.eco/privacy-policy/"
          target="_blank"
          >Privacy</a
        >
        <a
          xcCopyStyles
          class="copy-200-bold"
          href="https://xchange.eco/terms-of-service/"
          target="_blank"
          >Terms and conditions</a
        >
      </div>
    </section>
  </section>
</section>
