<section>
  <section class="reset">
    <section class="reset_wrapper">
      <div class="reset_wrapper-div">
        <header class="reset_wrapper-div-header">
          <div class="reset_wrapper-div-header-container">
            <img
              src="../../../assets/img//X-Vector.webp"
              alt="Xchange-logo"
              class="reset_wrapper-div-header-container-image"
            />
          </div>
          <p class="reset_wrapper-div-header-title">camp</p>
        </header>

        <div class="reset_wrapper-div-form">
          <form [formGroup]="form" (ngSubmit)="changeStep()" class="container">
            <label class="container_field">
              <p xcHeadlineStyles class="headline-200">New password</p>
              <input
                formControlName="password"
                [type]="showPassword ? 'text' : 'password'"
                class="container_field-password"
                placeholder="***"
                required
              />
              <button
                type="button"
                class="icon-button"
                (click)="toggleShowPassword()"
                [attr.aria-label]="
                  showPassword ? 'Ocultar contraseña' : 'Mostrar contraseña'
                "
              >
                <xc-icon-eye *ngIf="!showPassword" class="icon-eye" />
                <xc-icon-eye-slash *ngIf="showPassword" class="icon-eye" />
              </button>
              <div
                *ngIf="
                  form.get('password')?.invalid && form.get('password')?.touched
                "
                class="error-text"
              >
                La contraseña debe tener mínimo 6 caracteres
              </div>
            </label>
            <label class="container_field">
              <p xcHeadlineStyles class="headline-200">
                Repeat the new password
              </p>
              <input
                formControlName="confirm"
                [type]="showConfirm ? 'text' : 'password'"
                class="container_field-confirm"
                placeholder="***"
                required
                [class.match]="
                  !form.hasError('mismatch') && form.get('confirm')?.touched
                "
                [class.mismatch]="
                  form.hasError('mismatch') && form.get('confirm')?.touched
                "
              />
              <button
                type="button"
                class="icon-button"
                (click)="toggleShowConfirm()"
                [attr.aria-label]="
                  showConfirm ? 'Ocultar contraseña' : 'Mostrar contraseña'
                "
              >
                <xc-icon-eye *ngIf="!showConfirm" class="icon-eye" />
                <xc-icon-eye-slash *ngIf="showConfirm" class="icon-eye" />
              </button>
              <div
                *ngIf="
                  form.hasError('mismatch') && form.get('confirm')?.touched
                "
                class="error-text"
              >
                Las contraseñas no coinciden
              </div>
            </label>
            <button
              type="submit"
              [disabled]="form.invalid"
              [ngClass]="form.valid ? 'button-active' : 'button-inactive'"
            >
              Send
            </button>
          </form>
        </div>
      </div>
      <div class="meta-links">
        <a
          xcCopyStyles
          class="copy-200-bold learn_about"
          href="https://xchange.eco/how-to/"
          target="_blank"
          >Learn more about Xcamp</a
        >
        <a xcCopyStyles class="copy-200-bold" href="/">Imprint</a>
        <a
          xcCopyStyles
          class="copy-200-bold"
          href="https://xchange.eco/privacy-policy/"
          target="_blank"
          >Privacy</a
        >
        <a
          xcCopyStyles
          class="copy-200-bold"
          href="https://xchange.eco/terms-of-service/"
          target="_blank"
          >Terms and conditions</a
        >
      </div>
    </section>
  </section>
</section>
