<article class="modal_header">
    <img src="assets/img/Goals-header.png" alt="portfolio-header-image" class="modal_header-image" />
    <section class="modal_header-content">
        <div class="modal_header-content-card">
            <h3>NextGen LLL – Xchange Studio project</h3>
            <div class="card_info">
                <span class="card_info-item">
                    <b>Created:</b>
                    <b class="card_info-item-text">15.12.24 by jane Doe</b>
                </span>
                <span class="card_info-item">
                    <b>Assigned to:</b>
                    <div class="card_info-item-images">
                        <xc-rounded-image [image]="'https://randomuser.me/api/portraits/women/52.jpg'" [marginSize]="2" class="rounded-image"></xc-rounded-image>
                        <xc-rounded-image [image]="'https://randomuser.me/api/portraits/men/65.jpg'" [marginSize]="2" class="rounded-image"></xc-rounded-image>
                    </div>
                </span>
            </div>
        </div>
        <div class="modal_header-content-navigation">
            <button>General</button>
            <button>Value</button>
            <button>Pitch</button>
        </div>
    </section>
</article>