:host {
  display: flex;
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
  height: 100%;
}







.divider {
  width: 100%;
  border-bottom: 1px dashed var(--xc-grey200);
  gap: 0px;
}

.toast_modal{
  position: fixed;
  top: 0;
  left: 50%;
  padding: 20px;
  max-width: 440px;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--xc-gradient-light-blue);
  border-radius: 0px 0px 8px 8px;
  &-check{
    &-icon{
      display: flex;
      width: 32px;
      height: 32px;
      stroke: var(--xc-black500);
      fill: var(--xc-black500);
    }
  }
}