<section class="profile">
  <header>
    <app-profile-header
      (sectionChanged)="onSectionChange($event)"
    ></app-profile-header>
  </header>
  <app-appereance *ngIf="activeSection === 'Apperance'" />
  <app-wallet *ngIf="activeSection === 'Wallet'" />
  <app-premium-upgrade *ngIf="activeSection === 'Premium upgrade'" />
  <app-premium-settings *ngIf="activeSection === 'Premium settings'" />
</section>

<app-tag-modal *ngIf="isTagsOpen"/>
<app-cancel-modal *ngIf="isCancelOpen"/>


<section *ngIf="isCancelToast" class="toast_modal">
  <div class="toast_modal-check">
    <xc-icon-check class="toast_modal-check-icon"/>
  </div>
  <div xcHeadlineStyles class="headline-300">
    Your Premium membership was cancelled. 
    Come back any time to start again!
  </div>
</section>