<section class="profile">
  <header>
    <app-profile-header (sectionChanged)="onSectionChange($event)"></app-profile-header>
  </header>

  <article *ngIf="activeSection === 'Apperance'" class="apperance">
    <section class="apperance_about">
      <div class="apperance_about-title">
        <p xcHeadlineStyles class="headline-300">About Me</p>

        <ng-container *ngIf="!editingDescription; else editDescTpl">
          <p (click)="editDescription()">{{ description }}</p>
        </ng-container>
        <ng-template #editDescTpl>
          <textarea [(ngModel)]="tempDescription" cols="60" rows="20" autofocus class="edit-textarea"></textarea>
        </ng-template>
      </div>
    </section>
    <section class="apperance_further">
      <div class="apperance_further-settings">
        <p xcHeadlineStyles class="headline-300">Further settings</p>
        <div class="apperance_further-settings-options">
          <span class="apperance_further-settings-options-item">
            <p xcCopyStyles class="copy-300-bold">Public visibility</p>
            <div>
              <xc-toggle color="green" />
            </div>
          </span>
          <span class="apperance_further-settings-options-item-language">
            <p xcCopyStyles class="copy-300-bold">Platform language</p>

            <app-language-dropdown class="apperance_further-settings-options-item-language-component"
              [options]="languageOptions" (change)="onLanguageChange($event)"></app-language-dropdown>
          </span>
          <span class="apperance_further-settings-options-item-interests">
            <p xcCopyStyles class="copy-300-bold">Interests and talents</p>
            <div class="apperance_further-settings-options-item-interests-tags">
              <div class="apperance_further-settings-options-item-interests-tags-container">
                <div xcProfileTags="gray">Generate</div>
                <div xcProfileTags="gray">Organizational</div>
                <div xcProfileTags="gray">Improve</div>
                <div xcProfileTags="gray">Analyze</div>
                <div xcProfileTags="gray">Develop</div>
              </div>
              <button (click)="openTags()" class="apperance_further-settings-options-item-interests-tags-see">
                <xc-icon-arrow-right class="apperance_further-settings-options-item-interests-tags-see-icon" />
                <p xcCopyStyles class="copy-300-bold">See all tags</p>
              </button>
            </div>
          </span>
          <span class="apperance_further-settings-options-item-blockchain">
            <p xcCopyStyles class="copy-300-bold">Blockchain key</p>
            <div class="apperance_further-settings-options-item-blockchain-info">
              <xc-icon-copy class="apperance_further-settings-options-item-blockchain-info-icon" />
              <p xcCopyStyles class="copy-400">
                0x1234567890abcdef1234567890abcdef12345678
              </p>
            </div>
          </span>
          <span class="apperance_further-settings-options-item-member">
            <p xcCopyStyles class="copy-300-bold">Member since</p>
            <p xcCopyStyles class="copy-400">7 Aug.2024</p>
          </span>
          <span class="apperance_further-settings-options-item-email">
            <p xcCopyStyles class="copy-300-bold">Email</p>
            <ng-container *ngIf="!editingEmail; else editEmailTpl">
              <p (click)="editEmail()">{{ email }}</p>
            </ng-container>
            <ng-template #editEmailTpl>
              <input [(ngModel)]="tempEmail" type="email" autofocus class="edit-input" />
            </ng-template>
          </span>
          <span class="apperance_further-settings-options-item-linkedin">
            <p xcCopyStyles class="copy-300-bold">Linkedin</p>
            <ng-container *ngIf="!editingLinkedin; else editLinkTemp">
              <p (click)="editLinkedin()">{{ linkedin }}</p>
            </ng-container>
            <ng-template #editLinkTemp>
              <input [(ngModel)]="tempLinkedin" type="url" autofocus class="edit-input" />
            </ng-template>
          </span>
        </div>
      </div>
    </section>
    <footer class="apperance_footer">
      <button type="button" class="apperance_footer-save" (click)="saveChanges()">
        <xc-icon-save class="apperance_footer-save-icon" />
        Save changes
      </button>
    </footer>
  </article>

  <article *ngIf="activeSection === 'Wallet'" class="wallet">
    <section class="wallet_assets">
      <p xcHeadlineStyles class="headline-300">My assets</p>
      <div class="wallet_assets-graph">
        <img src="https://www.iconpacks.net/icons/1/free-pie-chart-icon-683-thumb.png" alt="temp-graph-image"
          class="wallet_assets-graph-image" />
      </div>
    </section>
    <section class="wallet_contributions">
      <p xcHeadlineStyles class="headline-300">Contributions and value</p>
      <table class="wallet_contributions-table">
        <thead class="wallet_contributions-table-header">
          <tr class="wallet_contributions-table-header-row">
            <th>Project</th>
            <th>Contributed</th>
            <th>Current</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody xcCopyStyles class="wallet_contributions-table-body">
          <tr class="wallet_contributions-table-body-row">
            <td>OneLife - Xchange Studio project</td>
            <td>500 xCoins</td>
            <td>500 xCoins</td>
            <td class="wallet_contributions-table-body-row-status">
              <div xcProfileTags="yellow">Open</div>
            </td>
          </tr>
          <tr xcCopyStyles class="copy-400 wallet_contributions-table-body-row">
            <td>Coop Master</td>
            <td>250 xCoins</td>
            <td>252 xCoins</td>
            <td class="wallet_contributions-table-body-row-status">
              <div xcProfileTags="green">Confirmed</div>
            </td>
          </tr>
          <tr class="wallet_contributions-table-body-row">
            <td>OneLife - Xchange Studio project</td>
            <td>500 xCoins</td>
            <td>500 xCoins</td>
            <td class="wallet_contributions-table-body-row-status">
              <div xcProfileTags="yellow">Open</div>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </article>

  <article *ngIf="activeSection === 'Premium upgrade'" class="premium-upgrade">
    <section class="premium-upgrade-video">
      <h5 xcHeadlineStyles class="headline-300">Upgrade to investor Premium</h5>
      <iframe class="premium-upgrade-video-content" height="350"
        src="https://www.youtube.com/embed/lLSu0UHNZhU?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </section>
    <section class="premium-upgrade-options">
      <div class="premium-upgrade-options-basic">
        <h6 xcHeadlineStyles class="headline-300 premium-upgrade-options-basic-title">
          Xcamp Basic
        </h6>
        <div class="premium-upgrade-options-basic-container">
          <span class="premium-upgrade-options-basic-container-item">
            <div class="premium-upgrade-options-basic-container-item-wrapper">
              <xc-icon-check-circle class="premium-upgrade-options-basic-container-item-wrapper-icon" />
            </div>
            <p xcCopyStyles class="copy-400">
              Projects and collaboratios in the community
            </p>
          </span>
          <span class="premium-upgrade-options-basic-container-item">
            <div class="premium-upgrade-options-basic-container-item-wrapper">
              <xc-icon-check-circle class="premium-upgrade-options-basic-container-item-wrapper-icon" />
            </div>
            <p xcCopyStyles class="copy-400">Collaboration reward credits</p>
          </span>
          <span class="premium-upgrade-options-basic-container-item">
            <div class="premium-upgrade-options-basic-container-item-wrapper">
              <xc-icon-check-circle class="premium-upgrade-options-basic-container-item-wrapper-icon" />
            </div>
            <p xcCopyStyles class="copy-400">
              Start projects with AI templates
            </p>
          </span>
          <span class="premium-upgrade-options-basic-container-item">
            <div class="premium-upgrade-options-basic-container-item-wrapper">
              <xc-icon-check-circle class="premium-upgrade-options-basic-container-item-wrapper-icon" />
            </div>
            <p xcCopyStyles class="copy-400">
              Project navigation and collaborator assignments
            </p>
          </span>
        </div>
      </div>
      <div class="premium-upgrade-options-investor">
        <h6 xcHeadlineStyles class="headline-300">Investor Premium</h6>
        <div class="premium-upgrade-options-investor-container">
          <span class="premium-upgrade-options-investor-container-item">
            <div class="premium-upgrade-options-investor-container-item-wrapper">
              <xc-icon-check-circle class="premium-upgrade-options-investor-container-item-wrapper-icon" />
            </div>
            <p xcCopyStyles class="copy-400">
              Advantage number one lorem ipsum
            </p>
          </span>
          <span class="premium-upgrade-options-investor-container-item">
            <div class="premium-upgrade-options-investor-container-item-wrapper">
              <xc-icon-check-circle class="premium-upgrade-options-investor-container-item-wrapper-icon" />
            </div>
            <p xcCopyStyles class="copy-400">
              Advantage number one lorem ipsum
            </p>
          </span>
          <span class="premium-upgrade-options-investor-container-item">
            <div class="premium-upgrade-options-investor-container-item-wrapper">
              <xc-icon-check-circle class="premium-upgrade-options-investor-container-item-wrapper-icon" />
            </div>
            <p xcCopyStyles class="copy-400">
              Advantage number one lorem ipsum
            </p>
          </span>
          <span class="premium-upgrade-options-investor-container-item">
            <div class="premium-upgrade-options-investor-container-item-wrapper">
              <xc-icon-check-circle class="premium-upgrade-options-investor-container-item-wrapper-icon" />
            </div>
            <p xcCopyStyles class="copy-400">
              Advantage number one lorem ipsum
            </p>
          </span>
        </div>
        <div class="premium-upgrade-options-investor-footer">
          <small xcCopyStyles class="copy-400-purple">FREE IN BETA</small>
          <button xcButtonsWrappers class="button-filled-noHeight button">
            <xc-icon-star class="button-icon" />
            <p>Upgrade to Premium</p>
          </button>
        </div>
      </div>
    </section>
  </article>

  <article *ngIf="activeSection === 'Premium settings'" class="premium_settings">
    <section class="premium_settings-wrapper">
      <div class="premium_settings-wrapper-custom">
        <h6 xcHeadlineStyles class="headline-300">Customise your premium profile</h6>
        <span class="premium_settings-wrapper-custom-titles">
          <p xcCopyStyles class="copy-300">Interests</p>
          <p xcCopyStyles class="copy-300">Interests scale</p>
        </span>
        <div class="interest-wrapper" *ngFor="let sel of selectedInterests; let i = index">
          <app-interests-profile [options]="getFilteredOptions(i)" [selectedInterest]="sel.interest"
            [selectedLevel]="sel.level" (selection)="onInterestSelected($event, i)"></app-interests-profile>
        </div>
        <button (click)="addSelector()" class="premium_settings-wrapper-custom-button">
          <p xcCopyStyles class="copy-400-bold">
            + Añadir otro interés
          </p>
        </button>
        <button xcButtonsWrappers (click)="saveChanges()" class="button-filled-noHeight save">
          <xc-icon-save class="save-icon" />
          <p>Guardar cambios</p>
        </button>
      </div>
      <div class="injector">
        <h6 xcHeadlineStyles class="headline-300 injector-title">... or load from predefined profiles to get started</h6>
        <app-interest-card class="injector">
        </app-interest-card>
      </div>
    </section>
    <section class="premium_settings-invoice">
      <!-- Row 1: Header -->
      <div class="premium_settings-invoice-header">
        <p class="premium_settings-invoice-header-title">Premium</p>
      </div>
    
      <!-- Row 2: Body with 2 columns -->
      <div class="premium_settings-invoice-container">
        <!-- Column 1: Pricing cards -->
        <article class="premium_settings-invoice-premium">
          <div class="premium_settings-invoice-premium-basic">
            <h6 xcHeadlineStyles class="headline-300 premium_settings-invoice-premium-basic-title">
              Xcamp Basic
            </h6>
            <div class="premium_settings-invoice-premium-basic-container">
              <span class="premium_settings-invoice-premium-basic-container-item">
                <div class="premium_settings-invoice-premium-basic-container-item-wrapper">
                  <xc-icon-check-circle class="premium_settings-invoice-premium-basic-container-item-wrapper-icon" />
                </div>
                <p xcCopyStyles class="copy-400">
                  Projects and collaborations in the community
                </p>
              </span>
              <span class="premium_settings-invoice-premium-basic-container-item">
                <div class="premium_settings-invoice-premium-basic-container-item-wrapper">
                  <xc-icon-check-circle class="premium_settings-invoice-premium-basic-container-item-wrapper-icon" />
                </div>
                <p xcCopyStyles class="copy-400">
                  Collaboration reward credits
                </p>
              </span>
              <span class="premium_settings-invoice-premium-basic-container-item">
                <div class="premium_settings-invoice-premium-basic-container-item-wrapper">
                  <xc-icon-check-circle class="premium_settings-invoice-premium-basic-container-item-wrapper-icon" />
                </div>
                <p xcCopyStyles class="copy-400">
                  Start projects with AI templates
                </p>
              </span>
              <span class="premium_settings-invoice-premium-basic-container-item">
                <div class="premium_settings-invoice-premium-basic-container-item-wrapper">
                  <xc-icon-check-circle class="premium_settings-invoice-premium-basic-container-item-wrapper-icon" />
                </div>
                <p xcCopyStyles class="copy-400">
                  Project navigation and collaborator assignments
                </p>
              </span>
              
            </div>
          </div>
    
          <div class="premium_settings-invoice-premium-investor">
            <h6 xcHeadlineStyles class="headline-300">Investor Premium</h6>
            <div class="premium_settings-invoice-premium-investor-container">
              <span class="premium_settings-invoice-premium-investor-container-item">
                <div class="premium_settings-invoice-premium-investor-container-item-wrapper">
                  <xc-icon-check-circle class="premium_settings-invoice-premium-investor-container-item-wrapper-icon-purple" />
                </div>
                <p xcCopyStyles class="copy-400">
                  Advantage number one lorem ipsum
                </p>
              </span>
              <span class="premium_settings-invoice-premium-investor-container-item">
                <div class="premium_settings-invoice-premium-investor-container-item-wrapper">
                  <xc-icon-check-circle class="premium_settings-invoice-premium-investor-container-item-wrapper-icon-purple" />
                </div>
                <p xcCopyStyles class="copy-400">
                  Advantage number one lorem ipsum
                </p>
              </span>
              <span class="premium_settings-invoice-premium-investor-container-item">
                <div class="premium_settings-invoice-premium-investor-container-item-wrapper">
                  <xc-icon-check-circle class="premium_settings-invoice-premium-investor-container-item-wrapper-icon-purple" />
                </div>
                <p xcCopyStyles class="copy-400">
                  Advantage number one lorem ipsum
                </p>
              </span>
              <span class="premium_settings-invoice-premium-investor-container-item">
                <div class="premium_settings-invoice-premium-investor-container-item-wrapper">
                  <xc-icon-check-circle class="premium_settings-invoice-premium-investor-container-item-wrapper-icon-purple" />
                </div>
                <p xcCopyStyles class="copy-400">
                  Advantage number one lorem ipsum
                </p>
              </span>
            </div>
            <div class="premium_settings-invoice-premium-investor-footer">
              <small xcCopyStyles class="copy-400-purple">FREE IN BETA</small>
              <button xcButtonsWrappers class="button-default button">
                <xc-icon-star class="button-icon" />
                <p>Cancel Premium</p>
              </button>
            </div>
          </div>
        </article>
    
        <!-- Column 2: Invoice table -->
        <article class="premium_settings-invoice-table">
          <table class="invoice-table">
            <thead class="invoice-table__header">
              <tr class="invoice-table__header-row">
                <th class="invoice-table__header-row-cell">
                  <div class="invoice-table__header-row-cell-title">
                    <p class="invoice-table__title-text">Billing History</p>
                    <app-profile-sort />
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="invoice-table__body">
              <tr
                class="invoice-table__row"
                *ngFor="let invoice of invoiceData"
              >
                <td class="invoice-table__cell invoice-table__cell--name">
                  <div class="invoice-table__name-wrapper">
                    <xc-rounded-image
                      [image]="image"
                      class="invoice-table__image"
                    />
                    {{ invoice.invoiceName }}
                  </div>
                </td>
                <td class="invoice-table__cell">{{ invoice.date }}</td>
                <td class="invoice-table__cell">{{ invoice.amount }}</td>
                <td class="invoice-table__cell-button">
                  <button>{{ invoice.status }}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </article>
      </div>
    </section>
    
  </article>


</section>

<section *ngIf="isTagsOpen" class="tags_modal">
  <div class="tags_modal_wrapper">
    <div class="tags_modal_wrapper-content">
      <p xcHeadlineStyles class="headline-400">All tags related to Fabian</p>
      <article class="tags_modal_wrapper-content-article">
        <p xcHeadlineStyles class="headline-200">Review your skill tags</p>
        <span class="tags_modal_wrapper-content-article-item">
          <xc-icon-ai class="ia-icon" />
          <p xcCopyStyles class="copy-200-bold">
            Our AI matches your skills with projects, templates and other
            members. Thats why its important to build a strong profile
          </p>
        </span>
      </article>
      <div class="tags_modal_wrapper-content-injector">
        <div xcProfileTags="gray" *ngFor="let tag of tags" class="tag">
          {{ tag }}
          <button>
            <xc-icon-close-s class="tags_modal_wrapper-icon-red" />
          </button>
        </div>
      </div>
      <div class="divider"></div>
      <div class="tags_modal_wrapper-content-new">
        <p xcHeadlineStyles class="headline-200">Add tags</p>
        <span class="tags_modal_wrapper-content-new-span">
          <input type="text" class="tags_modal_wrapper-content-new-span-input" />
          <button>
            <xc-icon-plus-circle class="tags_modal_wrapper-content-new-span-icon" />
          </button>
        </span>
      </div>
    </div>
    <button xcButtonsWrappers class="button-round-close" (click)="closeTags()">
      <xc-icon-close-s class="tags_modal_wrapper-icon" />
    </button>
  </div>
</section>