:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.collaboration_fund {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  &-wrapper {
    align-items: center;
    background: var(--xc-white);
    border-radius: var(--xc-rounded-eight);
    box-shadow: var(--xc-boxShadow-400);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 32px;
    height: calc(100% - 120px);
    overflow-y: auto;
    width: 100%;
    .data {
      display: flex;
      align-items: end;
      padding-top: 12px;
      justify-content: center;
      width: 100%;
      gap: 64px;
      &-wrapper {
        align-items: flex-end;
        display: flex;
        gap: 8px;
      }
    }
    .separator {
      height: 1.5px;
      border-bottom: 1px solid var(--xc-grey100);
      width: 100%;
    }
    .graphs {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      &_container {
        display: grid;
        grid-template-columns: 620px 1fr;
        column-gap: 32px;
        .pie-graph,
        .dots-graph {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 320px;
          overflow: hidden;
        }

        .pie-graph {
          width: 500px;

          &-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
          }
        }
      }

      .dots-graph {
        width: 100%;

        &-image {
          width: 100%;
          height: 100%;
          object-fit: contain;
          display: block;
        }
      }
    }
    .table {
      display: flex;
      flex-direction: column;
      padding: 0px 32px;
      gap: 32px;
      width: 100%;
      &_actions {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .dropdown_wrapper {
          position: relative;
          display: inline-block;
          z-index: 10;

          .button {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 12px;
            border-radius: 8px;
            border: 1px solid var(--xc-black500);
            font-weight: 500;
            color: var(--xc-black500);
            .icon--active {
              stroke: var(--xc-grey200);
              fill: var(--xc-grey200);
            }
          }
          .button--active {
            border-color: var(--xc-grey200);
          }
          .text--active {
            color: var(--xc-grey200);
          }
          .dropdown-menu {
            position: absolute;
            top: 100%;
            right: 0;
            background: var(--xc-white);
            border-radius: 12px;
            box-shadow: var(--xc-boxShadow-400);
            z-index: 10;
            min-width: 265px;
            .button {
              display: flex;
              align-items: center;
              gap: 8px;
              padding: 8px 12px;
              border-radius: 8px;
              border: 1px solid transparent;
              background: white;
              font-weight: 500;
              color: #999;
              transition: border-color 0.2s;

              &__icon {
                stroke: #999;
                stroke-width: 2;
                width: 16px;
                height: 16px;
              }

              &:hover {
                cursor: pointer;
                background-color: #f5f5f5;
              }
            }

            .dropdown-item {
              padding: 8px 16px;
              font-size: 14px;
              white-space: nowrap;

              &:hover {
                background-color: #f5f5f5;
                cursor: pointer;
              }
            }
          }
        }
      }
      &_wrapper {
        display: flex;
        width: 100%;
        border-radius: var(--xc-rounded-eight);

        .investment-table {
          border-collapse: separate;
          margin-right: auto;
          width: 100%;
          &_row {
            display: grid;
            grid-template-columns: 700px 160px 100px 100px 75px 100px;
            gap: 16px;
            align-items: center;
          }

          &_cell {
            padding: 12px;

            &-header {
              text-align: start;
              color: var(--xc-grey500);
              font-weight: 600;
              font-size: 14px;
            }

            &-actions {
              display: flex;
              gap: 8px;
            }

            &-remove {
              align-items: center;

              display: flex;
              gap: 4px;
              padding: 12px;
              width: 100%;
              &-icon {
                display: flex;
                width: 16px;
                height: 16px;
                stroke: var(--xc-black500);
                stroke-width: 2;
              }
            }
          }

          &__name {
            display: flex;
            align-items: center;
            gap: 12px;

            .investment-table__avatar {
              width: 32px;
              height: 32px;
              object-fit: cover;
              border-radius: 50%;
            }

            span {
              font-weight: 500;
            }
          }

          &__growth {
            display: flex;
            align-items: center;
            gap: 4px;

            .green,
            .red,
            .yellow {
              width: 16px;
              height: 16px;
            }

            .green {
              stroke: var(--xc-categories-completed);
            }

            .red {
              stroke: var(--xc-categories-blocked);
              transform: rotate(90deg);
            }

            .yellow {
              stroke: var(--xc-categories-yellow-filter);
              transform: rotate(45deg);
            }
          }

          &__button {
            display: flex;
            align-items: center;
            padding: 6px 12px;
            border: none;
            gap: 4px;

            &-suspend {
              background-color: #ffe1e1;

              &:hover {
                background-color: #ffbfbf;
              }
            }

            .icon {
              display: flex;
              width: 16px;
              height: 16px;
              stroke: var(--xc-black500);
            }
          }
        }
      }
    }
  }
}

.fund_reserve {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  &-modal {
    display: flex;
    gap: 16px;
    height: auto;
    width: auto;
  }
}

.suspend {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  &_modal {
    display: flex;
    gap: 16px;
    height: auto;
    width: auto;
  }
}
