<section class="collaboration_fund">
  <article class="collaboration_fund-wrapper">
    <header class="data">
      <span class="data-wrapper">
        <h1>835,340 €</h1>
        <small>Reserve value</small>
      </span>
      <span class="data-wrapper">
        <h1>10%</h1>
        <small>Reserve percentage</small>
      </span>
      <span class="data-wrapper">
        <h1>556,500 XCoins</h1>
        <small>current fund value</small>
      </span>
      <span class="data-wrapper">
        <h1>83%</h1>
        <small>of reserve value reached</small>
      </span>
    </header>
    <div class="separator"></div>
    <div class="graphs">
      <h3>Project Value</h3>
      <div class="graphs_container">
        <span class="pie-graph">
          <img
            class="pie-graph-image"
            src="assets/img/temp-pieGraph.png"
            alt="temporal-pieGraph"
          />
        </span>
        <span class="dots-graph">
          <img
            src="assets/img/temp-graph.png"
            alt="temporal-dotGraph"
            class="dots-graph-image"
          />
        </span>
      </div>
    </div>
    <div class="table">
      <div class="table_actions">
        <h3>Fund members and collaboration rewards</h3>
        <div class="dropdown_wrapper" [class.open]="isOpen">
          <button
            class="button"
            [ngClass]="{ 'button--active': isOpen }"
            (click)="toggleDropdown()"
          >
            <xc-icon-user-plus
              class="btn__icon"
              [ngClass]="{ 'icon--active': isOpen }"
            />
            <p [ngClass]="{ 'text--active': isOpen }">Add employee</p>
          </button>

          <div class="dropdown-menu" *ngIf="isOpen">
            <p class="dropdown-item">Fabio Frankfurter</p>
            <p class="dropdown-item">Francis Falcon</p>
            <p class="dropdown-item">Friederike Feuerberg</p>
          </div>
        </div>
      </div>
      <article class="table_wrapper">
        <div class="investment-table">
          <div class="investment-table_row investment-table_row--header">
            <div class="investment-table_cell investment-table_cell-header">
              Name
            </div>
            <div class="investment-table_cell investment-table_cell-header">
              Contributed
            </div>
            <div class="investment-table_cell investment-table_cell-header">
              Current
            </div>
            <div class="investment-table_cell investment-table_cell-header">
              Growth
            </div>
            <div class="investment-table_cell investment-table_cell-header">
              Share
            </div>
            <div class="investment-table_cell investment-table_cell-header">
              Actions
            </div>
          </div>

          <div class="investment-table_row">
            <div class="investment-table_cell investment-table__name">
              <xc-rounded-image
                class="investment-table__avatar"
                [image]="'assets/img/user-image-profile.png'"
              />
              <span>Jamie Bond</span>
            </div>
            <div class="investment-table_cell">1,500.00</div>
            <div class="investment-table_cell">1,500.00</div>
            <div class="investment-table_cell investment-table__growth">
              1.0 <xc-icon-arrow-up-right class="green" />
            </div>
            <div class="investment-table_cell">15%</div>
            <button
              class="investment-table_cell-remove"
              (click)="openSuspendModal()"
            >
              <xc-icon-user-x class="investment-table_cell-remove-icon" />
              <b>Remove</b>
            </button>
          </div>

          <div class="investment-table_row">
            <div class="investment-table_cell investment-table__name">
              <xc-rounded-image
                class="investment-table__avatar"
                [image]="'assets/img/user-image-profile.png'"
              />
              <span>Jamie Bond</span>
            </div>
            <div class="investment-table_cell">1,500.00</div>
            <div class="investment-table_cell">1,500.00</div>
            <div class="investment-table_cell investment-table__growth">
              1.0 <xc-icon-arrow-up-right class="red" />
            </div>
            <div class="investment-table_cell">15%</div>
            <button
              class="investment-table_cell-remove"
              (click)="openSuspendModal()"
            >
              <xc-icon-user-x class="investment-table_cell-remove-icon" />
              <b>Remove</b>
            </button>
          </div>

          <div class="investment-table_row">
            <div class="investment-table_cell investment-table__name">
              <xc-rounded-image
                class="investment-table__avatar"
                [image]="'assets/img/user-image-profile.png'"
              />
              <span>Jamie Bond</span>
            </div>
            <div class="investment-table_cell">1,500.00</div>
            <div class="investment-table_cell">1,500.00</div>
            <div class="investment-table_cell investment-table__growth">
              1.0 <xc-icon-arrow-up-right class="yellow" />
            </div>
            <div class="investment-table_cell">15%</div>
            <button
              class="investment-table_cell-remove"
              (click)="openSuspendModal()"
            >
              <xc-icon-user-x class="investment-table_cell-remove-icon" />
              <b>Remove</b>
            </button>
          </div>

          <div class="investment-table_row">
            <div class="investment-table_cell investment-table__name">
              <xc-rounded-image
                class="investment-table__avatar"
                [image]="'assets/img/user-image-profile.png'"
              />
              <span>Jamie Bond</span>
            </div>
            <div class="investment-table_cell">1,500.00</div>
            <div class="investment-table_cell">1,500.00</div>
            <div class="investment-table_cell investment-table__growth">
              1.0 <xc-icon-arrow-up-right class="green" />
            </div>
            <div class="investment-table_cell">15%</div>
            <button
              class="investment-table_cell-remove"
              (click)="openSuspendModal()"
            >
              <xc-icon-user-x class="investment-table_cell-remove-icon" />
              <b>Remove</b>
            </button>
          </div>
        </div>
      </article>
    </div>
  </article>
</section>

<article *ngIf="isFundReserve" class="fund_reserve">
  <app-employee-modal class="fund_rederve-modal" />
</article>

<article *ngIf="isSuspendOpen" class="suspend">
  <app-suspend-modal
    class="suspend_modal"
    (close)="handleSuspendModalClose()"
  />
</article>
