<section *ngFor="let project of projects" xcCardStyles [padding]="16" [gap]="16">	
    <div class="image-wrapper">
        <img src={{project.image}} alt="project-background" class="project-image">
    </div>
    <div class="project-title">
        <h6>{{project.title}}</h6>
        <span  class="project-tags">
            <div xcProfileTags="gray" *ngFor="let tags of project.tags">{{tags}}</div>
        </span>
    </div>
    <div class="project-progress">
        <xc-project-progress-bar [completed]="project.completed" [open]="project.open" [suggested]="project.suggested" />
    </div>
    <div class="project-description">
        <p>
            {{project.description}}
        </p>
    </div>
</section>