.image-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.project-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: start;
}

.project-tags{
    display: flex;
    gap: 6px;
}

.project-progress{
    display: flex;
    background: fuchsia;
    width: 100%;
}

.project-description{

    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}