<section class="change_password">
  <div class="change_password_content">
    <article class="change_password_content-card">
      <header class="header">
        <img src="assets/img/Change-password.png" alt="change_password-header-image" class="header_image">
      </header>
      <h2>Set a new password</h2>
      <form class="form_wrapper">
        <label class="form_field">
          <b>New password</b>
          <input type="password" placeholder="Enter a password">
        </label>
        <label class="form_field">
          <b>Confirm password</b>
          <input type="password" placeholder="Repeat the new password">
        </label>
      </form>
      <div class="actions_buttons">
        <button class="btn" type="button" (click)="onClose()">
          <xc-icon-times class="btn__icon cancel"/>
          <p>Cancel</p>
        </button>
        <button class="btn btn--filled">
          <xc-icon-save class="btn__icon_filled" />
          <p>Save changes</p>
        </button>
      </div>
    </article>
  </div>
</section>