<section>
  <section class="forgot">
    <section class="forgot_wrapper">
      <div class="forgot_wrapper-div">
        <header class="forgot_wrapper-div-header">
          <div class="forgot_wrapper-div-header-container">
            <img
              src="../../../assets/img//X-Vector.webp"
              alt="Xchange-logo"
              class="forgot_wrapper-div-header-container-image"
            />
          </div>
          <p class="forgot_wrapper-div-header-title">camp</p>
        </header>
        
        <ng-container *ngIf="step === 1" >
          <div class="forgot_wrapper-div-form">
            <form  class="container">
                <label class="container_field">
                  <span xcHeadlineStyles class="headline-300">Please enter the email address you are registered with</span>
                  <input
                    class="container_field-email"
                    type="text"
                    placeholder="name@domain.com"
                    required
                  />
                  <!-- <div class="error-text">
                    Please enter a valid email address
                  </div> 
                  Este error no esta indicado en la maqueta, importante
                  -->
                </label>
                <button type="submit" class="button-active">
                  Send
                </button>
                <!-- [disabled]="form.invalid" [ngClass]="form.valid ? 'button-active' : 'button-inactive'" -->
              </form>
          </div>
        </ng-container>

        <ng-container *ngIf="step === 2">
            <section class="forgot_wrapper-div-send">
                <header class="image_wrapper">
                    <img src="../../../assets/img/Password.svg" alt="">
                </header>
                <p xcHeadlineStyles class="headline-300 text">An email with a link to reset your password has been sent to your inbox. Please also check your spam folder.</p>
            </section>
        </ng-container>
      
       </div>
      <div class="meta-links">
        <a xcCopyStyles class="copy-200-bold learn_about" href="https://xchange.eco/how-to/" target="_blank" 
          >Learn more about Xcamp</a
        >
        <a xcCopyStyles class="copy-200-bold" href="/">Imprint</a>
        <a xcCopyStyles class="copy-200-bold" href="https://xchange.eco/privacy-policy/" target="_blank"
          >Privacy</a
        >
        <a xcCopyStyles class="copy-200-bold" href="https://xchange.eco/terms-of-service/" target="_blank"
          >Terms and conditions</a
        >
      </div>
    </section>
  </section>
</section>


