@import  "../../dist/ngx-xchange-ui/src/assets/css/base.css";
:root{
    --xc-black500: #111111;
    --xc-black400: #343434;
    --xc-white: #ffffff;
    --xc-grey500: #8A8E8B;
    --xc-grey400: #AEB4B1;
    --xc-grey300: #C5CBC6;
    --xc-grey200: #DBE0DC;
    --xc-grey100: #E8EDE9;
    --xc-grey50: #F5F8F6;
    --xc-brand-medium-green: #A4F8C0;
    --xc-brand-medium-blue: #47E3E3;
    --xc-brand-gradient-green: #78F7AD;
    --xc-brand-light-green: #A4F8C0;
    --xc-brand-light-blue: #B8FBFF;
    --xc-gradient-light-green: linear-gradient(289deg, rgba(219, 224, 220, 0.70) 26.17%, rgba(232, 237, 233, 0.60) 78.35%);
    --xc-gradient-light-grey-on-white: linear-gradient(289deg, rgba(219, 224, 220, 0.40) 26.17%, rgba(232, 237, 233, 0.30) 78.35%);
    --xc-gradient-light-blue: linear-gradient(109deg, #B8FBFF 33.19%, #A4F8C0 85.37%);
    --xc-gradient-medium-green: linear-gradient(109deg, #47E3E3 33.19%, #78F7AD 85.37%);
    --xc-categories-progress: #FAE651;
    --xc-categories-progress-opacity: rgba(250,230,81,0.4);
    --xc-categories-yellow-tag: #AF9E1C;
    --xc-categories-yellow-filter: #E3CA11;
    --xc-categories-completed: #1ccd66;
    --xc-categories-completed-opacity: rgba(28,205,102,0.2);
    --xc-categories-blocked: #EF4444;
    --xc-categories-suggestion: #AF71F1;
    --xc-categories-suggestion-opacity: rgba(175,113,241,0.3);
    --xc-categories-collaboration: #71D7D7;
    --xc-categories-project: #3CA7FF;
    --xc-categories-health: #FFA931;
    --xc-data-viz-blue500: #01165A;
    --xc-data-viz-blue400: #1E40AF;
    --xc-data-viz-blue300: #2563EB;
    --xc-data-viz-blue200: #60A5FA;
    --xc-data-viz-blue100: #BFDBFE;
    --xc-data-viz-blue50: #EFF6FF;
    --xc-boxShadow-500:  0px 0px 30px 0px rgba(17, 17, 17, 0.14);
    --xc-boxShadow-400: 0px 0px 30px 0px rgba(17, 17, 17, 0.05);
    --xc-Completed:#1CCD66;
    --xc-Progress:#FAE651;
    --xc-Suggestion:#AF71F1;
    --xc-Accepted:#12d464;
    --xc-Yellow-Tag: #AF9E1C;
    --xc-font-size:14px;
    --xc-font-family:"Manrope";
    --xc-font-weight:400;
    --xc-line-height:24px;
    --xc-spacing:normal;
    --xc-bold:700;
}

*,body,html{
    font-size: var(--xc-font-size);
    font-weight: var(--xc-font-weight);
    letter-spacing: var(--xc-spacing);
    line-height: var(--xc-line-height);
    color: var(--xc-black500);
}

b{
    font-weight: var(--xc-bold);
}

.medium-400{
    font-weight: 500;
    font-size: 16px;
}

.medium-300{
    font-size:14px;
    font-weight:500;
    line-height: 20px;
}

.medium-200{
    font-size:12px;
    font-weight:500;
    line-height: 16px;
}

.bold-400{
    font-size: 16px;
}

.bold-300{
    font-size:14px;
    line-height: 20px;
}

.bold-200{
    font-size:12px;
    line-height: 20px;
}

h1 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
}


h2{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}

h3{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

h4{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}