@import "../../dist/ngx-xchange-ui/src/assets/css/base.css";
@import "./base/_variables.scss";
@import "./base/_typography.scss";
@import "./base/_colors.scss";
@import "./utilies/_spacing.scss";
@import "./components/_cards.scss";
@import "./components/_buttons.scss";


/* *Texts first render will contain*/
*,
body,
html {
    color: var(--xc-black500);
    font-size: var(--xc-font-size);
    font-weight: var(--xc-font-weight);
    letter-spacing: var(--xc-spacing);
    line-height: var(--xc-line-height);
}