<section class="investor">
  <header class="investor_header">
    <button (click)="goBack()" class="investor_header-back">
      <xc-icon-arrow-left class="btn__icon" />
      <b>Back</b>
    </button>
    <div class="investor_header-title">
      <h2>Let’s set you up as an Investor, Fabian!</h2>
    </div>
    <div class="investor_header-tag" *ngIf="activeStep === 0">
      <span xcProfileTags="purple">Premium</span>
    </div>
  </header>
  <ng-container *ngIf="activeStep === 0">
    <article class="investor_content">
      <div class="investor_content_wrapper">
        <img
          src="assets/img/investor-splash-1.png"
          alt="investor-splash-1"
          class="investor_splash_wrapper-image"
        />
      </div>
      <p class="investor_content_text">
        Let exciting projects come to you by matching directly with your
        investment criteria, without the need for traditional pitch decks or
        lengthy application forms. Xcamp's AI-driven platform streamlines the
        process, saving you time and connecting you with high-potential startups
        based on real-time data.
      </p>
    </article>
  </ng-container>
  <ng-container *ngIf="activeStep === 1">
    <article class="investor_content">
      <div class="investor_content_wrapper">
        <img
          src="assets/img/investor-splash-2.png"
          alt="investor-splash-1"
          class="investor_splash_wrapper-image"
        />
      </div>
      <p class="investor_content_text">
        Here’s how it works: Founders use AI to navigate their startup journey
        and reach milestones by collaborating with experts who earn reward
        credits. This produces live, real-time data, giving you the insights you
        need to track progress and confidently evaluate performance—no guesswork
        involved.
      </p>
    </article>
  </ng-container>
  <ng-container *ngIf="activeStep === 2">
    <article class="investor_content">
      <div class="investor_content_wrapper">
        @defer (on hover) {
        <iframe
          width="580"
          height="370"
          src="https://youtube.com/embed/n1NKatzoPQw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          style="display: block; margin: auto"
        ></iframe>
        }@placeholder () {
        <img src="assets/img/investor-placeholder-video.png" alt="loading" />
        }
      </div>
      <p class="investor_content_text">
        Watch the video walkthrough to explore tools for investors, including an
        AI-assisted portfolio builder, a dashboard for operational startup
        metrics, automated pitch decks, and streamlined due diligence
        processes—all designed to help you make data-driven decisions with ease.
      </p>
    </article>
  </ng-container>
  <ng-container *ngIf="activeStep === 3"> 
    <app-cummon-form class="investor_content-profile"/>
  </ng-container>
  <ng-container *ngIf="activeStep === 4">
    <article class="investor_content-tags">
      <div class="investor_content-tags-header">
        <h3>Review your skill tags</h3>
        <span class="description_ai">
          <xc-icon-ai class="ai_icon" />
          <b class="text_200"
            >AI matches your skills with projects, templates and other members.
            That’s why it’s important to build a strong profile</b
          >
        </span>
      </div>
      <div class="tags_injector">
        <span xcProfileTags="gray" class="tag">
          <b>Dolrotag</b>
          <xc-icon-times class="tag_icon" />
        </span>
      </div>
      <span class="dot-split"></span>
      <div class="add_tag">
        <b>Add Tags</b>
        <span class="add_tag_wrapper">
          <input type="text" class="add_tag_wrapper-input" />
          <xc-icon-plus-circle class="add_tag_wrapper-icon" />
        </span>
      </div>
    </article>
  </ng-container>
  <hr />
  <footer class="investor_footer">
    <app-stepper
      [totalSteps]="steps"
      [(activeStep)]="activeStep"
      class="investor_footer-stepper"
    ></app-stepper>
    <div class="action-btn">
      <button class="btn next" *ngIf="activeStep < 4" (click)="nextStep()">
        <p>Next</p>
      </button>
      <button class="btn btn--filled" *ngIf="activeStep === 4">
        <p>Finish</p>
      </button>
    </div>
  </footer>
</section>
