<section  class="buy_credits">
  <div class="buy_credits_content">
    <article class="buy_credits_content-card">
      <header class="send_credits-content-card-header">
        <img src="assets/img/Buy-Credits.png" alt="buy_credits-content-card-header-image">
      </header>
      <h3>Buy credits for the ecossytem</h3>
      <p>Buy credits for your ecosystem and send them to selected projects. The projects can use these credits to  pay the platform fee for collaborations.</p>
      <div class="custom-select">
        <b>Buy credits</b>
        <select class="dropdown">
          <option disabled selected>Select the amount</option>
        </select>
      </div>
      <div class="card-data">
        <label class="card-data_field--wide">
          <b>Your card number</b>
          <input type="number" placeholder="0000 0000 0000 0000" />
        </label>
        <label class="card-data_field">
          <b>Valid until</b>
          <input type="text" placeholder="MM/YY" />
        </label>
        <label class="card-data_field">
          <b>CVV</b>
          <input type="password" />
        </label>
      </div>
      <div class="balance">
        <span class="balance_current">
          <b>Current Balance</b>
          <p>66,677 xCoins</p>
        </span>
        <span class="balance_new">
          <b>New Balance</b>
          <p>66,677 xCoins</p>
        </span>
      </div>
      <div class="action_buttons">
        <button class="btn">
          <xc-icon-times class="btn__icon"/>
          <p>Cancel</p>
        </button>
        <button class="btn btn--filled">
          <xc-icon-shopping-cart class="btn__icon_filled"/>
          <p>Buy credits</p>
        </button>
      </div>
    </article>
  </div>
</section>