.header-background {
    display: flex;
    height: auto;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
  }

  .header-background__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 16px 16px 0 0;
  }

  