<section class="flex gap-4  max-w-[510px]">
  <article class="flex flex-col gap-2 p-4 items-center rounded-lg bg-Background">
    <p class="text-text_Color text-subtitles font-manrope font-normal leading-[100%]">{{insights.completedObjectives}}</p>
    <p class="text-paragraph text-center leading-[100%] font-manrope font-normal w-[84px]">Completed </p>
  </article>
  <article class="flex flex-col gap-2 p-4 items-center rounded-lg bg-Background">
    <p class="text-text_Color text-subtitles font-manrope font-normal leading-[100%]">{{insights.activeObjectives}}</p>
    <p class="text-paragraph text-center leading-[120%] font-manrope font-normal w-[84px]">Active objectives</p>
  </article>
  <article class="flex flex-col gap-2 p-4 items-center rounded-lg bg-Background">
    <p class="text-text_Color text-subtitles font-manrope font-normal leading-[100%]">{{insights.suggestedNextSteps}}</p>
    <p class="text-paragraph text-center leading-[120%] font-manrope font-normal inline-block w-[84px]">Suggested Next steps</p>
  </article>
  <article class="flex flex-col gap-2 p-4 items-center rounded-lg bg-Background">
    <p class="text-text_Color text-subtitles font-manrope font-normal leading-[100%]">{{insights.involvedProjects}}</p>
    <p class="text-paragraph text-center leading-[120%] font-manrope font-normal w-[84px]">Involved Projects</p>
  </article>
</section>
