<section class="container">
  <xc-user-header  />
  <div class="container_content">
    <section class="container_content_left" xcCardStyles [padding]="12">
      <div class="container_content_left-organizer">
        <h5 class="sub-title">Organizer</h5>
        <div class="container_content_left-organizer-content" >
          <section class="message">
            <div class="message__avatar">
              <img src="assets/icons/Avatar.svg" alt="" class="bot-icon" />
            </div>
            <div class="message__text">
              <p>
                Hello, I am Scotty. I am here to help you with the realization
                of your ideas. What would you like to do?
              </p>
            </div>
          </section>
          <section class="options">
            <div class="icons-container">
              <xc-chat-options-button
                [label]="'Make an announcement'"
                [iconName]="'megaphone'"
              />
              <xc-chat-options-button
                [label]="'Start new project'"
                iconName="rocket"
              />
              <xc-chat-options-button
                [label]="'Go to projects'"
                iconName="rocket"
              >
              </xc-chat-options-button>
              <xc-chat-options-button
                [label]="'Go to projects'"
                iconName="rocket"
              >
              </xc-chat-options-button>
              <xc-chat-options-button
                [label]="'Go to projects'"
                iconName="rocket"
              >
              </xc-chat-options-button>
            </div>
            <div class="options-input">
              <textarea
                type="text"
                class="user-message"
                placeholder="Type your message or talk to me by using the speech button"
              ></textarea>
              <div class="chat-options">
                <button xcButton500>
                  <xc-icon-send class="button-500"/>
                </button>
                <button xcButton500>
                  <xc-icon-microphone class="button-500"/>
                </button>
                <button xcButton500>
                  <xc-icon-clipboard class="button-500"/>
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
    <section class="container_content_right" xcCardStyles [padding]="12">
      <div class="container_content_right-organizer">
        <h5 class="sub-title">My feed</h5>
        <div class="container_content_right-organizer-content" >
          <section class="container_content_right-organizer-content-nav">
            <div class="container_content_right-organizer-content-nav-filter">
              <button xcButton400>
                <xc-icon-home class="button-400"/>
              </button>
              <button xcButton400>
                <xc-icon-ai class="button-400"/>
              </button>
              <button xcFeedButton>
                <span [xcNotificationBubble]="true"></span>
                Objectives
              </button>
              <button xcFeedButton>
                <span [xcNotificationBubble]="false"></span>
                Assignments
              </button>
              <button xcFeedButton>
                <span [xcNotificationBubble]="true"></span>
                Announcements
              </button>
              <!-- <button xcFeedButton>
                <span [xcNotificationBubble]="false"></span>
                Next Steps
              </button> -->
            </div>
          </section>
          <section class="container_content_right-organizer-content-nav-drop">
            <nav class="ai-filters">
              <xc-ai-filter label="Objective state" case="state"></xc-ai-filter>
              <xc-ai-filter label="Role" case="role"></xc-ai-filter>
              <xc-ai-filter label="Date" case="date"></xc-ai-filter>
              <button class="redo-button">
                <xc-icon-redo class="redo-icon"></xc-icon-redo>
              </button>
            </nav>
          </section>
          <section class="feed-cards">
            <xc-feed-objective class="objective-injector" />
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
