.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 12px;
  min-width: 100%;
  height: 100%;
  &_content {
    display: grid;
    grid-template-columns: 40% 60%;
    row-gap: 0px;
    column-gap: 16px;
    width: 100%;
    height: 100%;
    padding: 12px;
    &_left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: white;
      height: 100%;
      &-organizer {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 12px;
        &-content {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
        }
      }
    }
    &_right {
      display: flex;
      flex-direction: column;
      background: white;
      height: 100%;
      &-organizer {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 8px;
        &-content {
          display: flex;
          flex-direction: column;
          height: 100%;
          &-nav {
            display: flex;
            gap: 16px;
            &-filter {
              gap: 16px;
              display: flex;
              @media screen and (max-width: 768px) {
                overflow-x: scroll;
              }
            }
          }
        }
      }
    }
  }
}

.border-button {
  border: solid 1px var(--xc-grey300);
  border-radius: 8px;
  display: flex;
  padding: 4px 8px;
  &-icon {
    width: 24px;
    height: 24px;
    stroke: black;
  }
}

.feed-injector {
  display: flex;
  gap: 16px;
}

.sub-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--xc-black400);
}

.message {
  display: flex;
  align-items: start;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
}

.ai-filters {
  display: flex;
  align-items: center;
  gap: 8px;
  @media screen and (max-width: 768px) {
    overflow-x: scroll;
  }
}

.bot-icon {
  width: 24px;
  height: 24px;
}

.options-input {
  display: flex;
  gap: 12px;
}

.icons-container {
  width: 100%;
  display: flex;
  gap: 18px;
  white-space: nowrap;
  overflow-x: scroll;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.user-message {
  width: 100%;
  border: solid 0.5px var(--xc-grey300);
  border-radius: 12px;
  padding: 8px;
  resize: none;

  display: block;
  font-size: 14px;
  line-height: 1.5;
}

.user-message:focus {
  outline: none;
}

.chat-options {
  display: flex;
  gap: 4px;
}

.redo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--xc-brand-light-blue);
  border-radius: 32px;
  width: 38px;
  height: 38px;
}

.redo-icon {
  width: 19px;
  height: 19px;
  stroke: black;
}

.wrapper_content_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper_content_item-feed {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feed-cards {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 500px;
  padding: 4px 8px;
}

.objective-injector {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.button-500{
  width: 24px;
  height: 24px;
}
.button-400 {
  width: 20px;
  height: 20px;
}
