<section class="page-layout">
  <header class="page-layout_header">
    <app-feed-header class="page-layout_header-component"/>
  </header>
  <section class="container">
    <article class="container_organizer">
      <h5 xcHeadlineStyles class="headline-400">Organizer</h5>
      <div class="container_organizer_chat">
        <section class="container_organizer_chat-message">
          <app-chat-message
            [message]="'Hello, I am Scotty. I am here to help you with the realization of your ideas. What would you like to do?'"
            [image]="'https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/ChatGPT-Logo.svg/2048px-ChatGPT-Logo.svg.png'"
          />
        </section>
        <section class="container_organizer_chat-options">
          <div class="container_organizer_chat-options-div">
            <div class="container_organizer_chat-options-div-icons">
              <xc-chat-options-button
                [label]="'Make an announcement'"
                [iconName]="'megaphone'"
              />
              <xc-chat-options-button
                [label]="'Start new project'"
                iconName="rocket"
              />
              <xc-chat-options-button
                [label]="'Go to projects'"
                iconName="rocket"
              >
              </xc-chat-options-button>
              <xc-chat-options-button
                [label]="'Go to projects'"
                iconName="rocket"
              >
              </xc-chat-options-button>
              <xc-chat-options-button
                [label]="'Go to projects'"
                iconName="rocket"
              >
              </xc-chat-options-button>
            </div>
          </div>
      
          <div class="container_organizer_chat-options-input">
            <textarea
              type="text"
              class="container_organizer_chat-options-input-text"
              placeholder="Type your message or talk to me by using the speech button"
            >
            </textarea>
            <div class="container_organizer_chat-options-input-buttons">
              <button xcButtonsWrappers class="button-chat">
                <xc-icon-send class="icon" />
              </button>
              <button xcButtonsWrappers class="button-chat">
                <xc-icon-microphone class="icon" />
              </button>
              <button xcButtonsWrappers class="button-chat">
                <xc-icon-clipboard class="icon" />
              </button>
            </div>
          </div>
        </section>
      </div>
    </article>
    <article class="container_feed">
      <h5 xcHeadlineStyles class="headline-400">My Feed</h5>
      <div class="container_feed_side">
        <section class="container_feed_side-nav">
          <div class="container_feed_side-nav-buttons">
            <app-objective-filters
              [label]="'home'"
              [showNotification]="false"
              [selectedLabel]="activeLabel"
              (sectionClicked)="handleSectionClick($event)"
            ></app-objective-filters>
            <button (click)="toggleAiFilters()">
              <app-objective-filters
              [label]="'ia'"
              [showNotification]="false"
              [selectedLabel]="activeLabel"
              (sectionClicked)="handleSectionClick($event)"
            ></app-objective-filters>
            </button>

            <app-objective-filters
              [label]="'Objectives'"
              [showNotification]="true"
              [selectedLabel]="activeLabel"
              (sectionClicked)="handleSectionClick($event)"
            ></app-objective-filters>
          
            <app-objective-filters
              [label]="'Assignments'"
              [showNotification]="false"
              [selectedLabel]="activeLabel"
              (sectionClicked)="handleSectionClick($event)"
            ></app-objective-filters>
            <app-objective-filters
              [label]="'Announcements'"
              [showNotification]="true"
              [selectedLabel]="activeLabel"
              (sectionClicked)="handleSectionClick($event)"
            ></app-objective-filters>
          </div>
          <nav class="container_feed_side-nav-filters">
            <xc-ai-filter
              label="Objective state"
              case="state"
              [isOpen]="openedDropdown === 'state'"
              (openDropdown)="handleDropdownOpen('state')">
            </xc-ai-filter>
            <xc-ai-filter
              label="Role"
              case="role"
              [isOpen]="openedDropdown === 'role'"
              (openDropdown)="handleDropdownOpen('role')"
            ></xc-ai-filter>
            <xc-ai-filter
              label="Date"
              case="date"
              [isOpen]="openedDropdown === 'date'"
              (openDropdown)="handleDropdownOpen('date')"
            ></xc-ai-filter>
            <button xcButtonsWrappers [class]="disabled?'button-refresh-inactive' :'button-refresh'" >
              <xc-icon-redo
                class="container_feed_side-nav-filters-icon"
              ></xc-icon-redo>
            </button>
          </nav>
        </section>
        <section class="container_feed_side-projects">
          <xc-feed-objective class="container_feed_side-projects-cards"/>
        </section>
      </div>
    </article>
  </section>
</section>

<article *ngIf="isAnnouncementOpen" class="modal">
  <div class="modal_content">
    <div class="modal_content-header">
      <img src="assets/img/image-10.webp" alt="announcement-image" class="modal_content-header-image">
    </div>
    <div class="modal_content-title">
      <p xcHeadlineStyles class="headline-400">Send a message to everyone</p>
    </div>
    <div class="modal_content-text">
      <p xcHeadlineStyles class="headline-200">Your message</p>
      <textarea placeholder="Please write your message" class="modal_content-text-area" rows="4" cols="100"></textarea>
    </div>
    <div class="modal_content-footer">
      <button xcButtonsWrappers class="button-default" (click)="isAnnouncementOpen = false">
        <xc-icon-times class="modal_content-footer-icon"/>
        Cancel
      </button>
      <button xcButtonsWrappers class="button-close-modal">
        <xc-icon-send class="modal_content-footer-icon-send"/>
        Send message
      </button>
    </div>
  </div>
</article>