<section class="page-layout">
  <header class="page-layout_header">
    <app-feed-header class="page-layout_header-component"/>
  </header>
  <section class="container">
    <article class="container_organizer">
      <h5 xcHeadlineStyles class="headline-400">Organizer</h5>
      <div class="container_organizer_chat">
        <section class="container_organizer_chat-message">
          <app-chat-message
            [message]="
              'Hello, I am Scotty. I am here to help you with the realization of your ideas. What would you like to do?'
            "
            [image]="
              'https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/ChatGPT-Logo.svg/2048px-ChatGPT-Logo.svg.png'
            "
          />
        </section>
        <section class="container_organizer_chat-options">
          <div class="container_organizer_chat-options-div">
            <div class="container_organizer_chat-options-div-icons">
              <xc-chat-options-button
                [label]="'Make an announcement'"
                [iconName]="'megaphone'"
              />
              <xc-chat-options-button
                [label]="'Start new project'"
                iconName="rocket"
              />
              <xc-chat-options-button
                [label]="'Go to projects'"
                iconName="rocket"
              >
              </xc-chat-options-button>
              <xc-chat-options-button
                [label]="'Go to projects'"
                iconName="rocket"
              >
              </xc-chat-options-button>
              <xc-chat-options-button
                [label]="'Go to projects'"
                iconName="rocket"
              >
              </xc-chat-options-button>
            </div>
          </div>
      
          <div class="container_organizer_chat-options-input">
            <textarea
              type="text"
              class="container_organizer_chat-options-input-text"
              placeholder="Type your message or talk to me by using the speech button"
            >
            </textarea>
            <div class="container_organizer_chat-options-input-buttons">
              <button xcButtonsWrappers class="button-chat">
                <xc-icon-send class="icon" />
              </button>
              <button xcButtonsWrappers class="button-chat">
                <xc-icon-microphone class="icon" />
              </button>
              <button xcButtonsWrappers class="button-chat">
                <xc-icon-clipboard class="icon" />
              </button>
            </div>
          </div>
        </section>
      </div>
    </article>
    <article class="container_feed">
      <h5 xcHeadlineStyles class="headline-400">My Feed</h5>
      <div class="container_feed_side">
        <section class="container_feed_side-nav">
          <div class="container_feed_side-nav-buttons">
            <button xcButtonsWrappers class="button-feed">
              <xc-icon-home-alt class="container_feed_side-nav-buttons-icon" />
            </button>
            <button
              xcButtonsWrappers
              class="button-feed"
              (click)="toggleAiFilters()"
            >
              <xc-icon-ai class="container_feed_side-nav-buttons-icon" />
            </button>
            <button xcButtonsWrappers class="button-feed">
              <span [xcNotificationBubble]="true"></span>
              Objectives
            </button>
            <button xcButtonsWrappers class="button-feed">
              <span [xcNotificationBubble]="false"></span>
              Assignments
            </button>
            <button xcButtonsWrappers class="button-feed">
              <span [xcNotificationBubble]="true"></span>
              Announcements
            </button>
          </div>
          <nav class="container_feed_side-nav-filters">
            <xc-ai-filter
              label="Objective state"
              case="state"
              [isOpen]="openedDropdown === 'state'"
              (openDropdown)="handleDropdownOpen('state')">
            </xc-ai-filter>
            <xc-ai-filter
              label="Role"
              case="role"
              [isOpen]="openedDropdown === 'role'"
              (openDropdown)="handleDropdownOpen('role')"
            ></xc-ai-filter>
            <xc-ai-filter
              label="Date"
              case="date"
              [isOpen]="openedDropdown === 'date'"
              (openDropdown)="handleDropdownOpen('date')"
            ></xc-ai-filter>
            <button xcButtonsWrappers class="button-refresh">
              <xc-icon-redo
                class="container_feed_side-nav-filters-icon"
              ></xc-icon-redo>
            </button>
          </nav>
        </section>
        <section class="container_feed_side-projects">
          <xc-feed-objective class="container_feed_side-projects-cards"/>
        </section>
      </div>
    </article>
  </section>
</section>