.container {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 32px;
  row-gap: 6px;
  padding: 0 32px;
  height: 100%;
  align-items: start; 
  justify-content: center;
  &_organizer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 90%;
    &_chat{
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 8px;
      border-radius: 8px;
      height: 100%;
      padding: 24px;
      &-message{
        display: flex;
      }
      &-options{
        display: flex;
        flex-direction: column;
        &-div{
          display: flex;
          overflow-x: scroll;
          width: 100%;
          -ms-overflow-style: none; 
          &::-webkit-scrollbar {
            display: none; 
          }
          &-icons{
            display: flex;
            gap: 12px;
          }
        }
        &-input{
          display: flex;
          gap: 8px;
          &-text{
            border: 1px solid;
            border-color: var(--xc-grey100);
            border-radius: 8px;
            resize: none;
            overflow: none;
            width: 100%;
            color: var(--xc-black500);
            outline: none;
            padding: 8px 16px;
            caret-color: var(--xc-brand-medium-blue);
          }
          &-buttons{
            display: flex;
            gap: 4px;
            .icon{
              width: 24px;
              stroke: var(--xc-black500);
              fill: var(--xc-black500);
              height: 24px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
  &_feed{
    display: flex;
    flex-direction: column;
    gap: 16px;
    &_side{
      background: white;
      padding: 8px;
      border-radius: 8px;
      height: 100%;
    }
  } 
}
