.page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  gap: 26px;
  &_header {
    display: flex;
    width: 100%;
    &-component{
      display: flex;
      width: 100%;
    }
  }
  .container {
    display: grid;
    flex: 1;
    grid-template-columns: 40% 60%;
    height: 48%;
    column-gap: 16px;
    max-width: 100%;
    &_organizer {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 16px;
  
      &_chat {
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px;
        border-radius: 8px;
        height: 90%;
  
        &-message {
          display: flex;
          padding: 24px;
        }
  
        &-options {
          display: flex;
          flex-direction: column;
  
          &-div {
            display: flex;
            overflow-x: scroll;
            width: 100%;
            padding: 2px 0px;
            -ms-overflow-style: none;
  
            &::-webkit-scrollbar {
              display: none;
            }
  
            &-icons {
              display: flex;
              justify-content: space-evenly;
              gap: 12px;
            }
          }
  
          &-input {
            display: flex;
            gap: 8px;
            padding: 12px;
  
            &-text {
              border: 1px solid var(--xc-grey100);
              border-radius: 8px;
              resize: none;
              width: 100%;
              color: var(--xc-black500);
              outline: none;
              padding: 8px 16px;
              caret-color: var(--xc-brand-medium-blue);
            }
  
            &-buttons {
              display: flex;
              gap: 4px;
  
              .icon {
                width: 24px;
                height: 24px;
                stroke: var(--xc-black500);
                fill: var(--xc-black500);
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  
    &_feed {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 16px;
  
      &_side {
        background: white;
        border-radius: 8px;
        min-height: 0;
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;
  
        &-nav {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          
          &-buttons {
            display: flex;
            width: 100%;
            padding: 24px;
            gap: 14px;
  
            &-icon {
              display: flex;
              width: 24px;
              height: 24px;
              stroke: var(--xc-black500);
            }
          }
  
          &-filters {
            display: flex;
            width: 100%;
            padding: 0px 24px;
            gap: 16px;
  
            &-icon {
              display: flex;
              width: 24px;
              height: 24px;
              stroke: var(--xc-black500);
            }
          }
        }
  
        &-projects {
          display: flex;
          flex: 1;
          min-height: 0;
          flex-direction: column;
          background: var(--xc-grey100);
          overflow-y: auto;
          padding: 16px;
          gap: 16px;
          scrollbar-width: none;
          -ms-overflow-style: none;
  
          &-cards {
            display: flex;
            flex-direction: column;
            gap: 16px;
          }
        }
      }
    }
  }
  
}
