.send_credits {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  &-content {
    display: flex;
    gap: 16px;
    height: auto;
    width: auto;
    &-card {
      border-radius: var(--xc-rounded-sixteen);
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 32px;
      background: var(--xc-white);
      flex-wrap: wrap;
      max-width: 633px;
      &-header {
        border-radius: 8px 8px 0px 0px;
      }
      .custom-select {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .dropdown {
          border: 1px solid;
          border-color: var(--xc-grey100);
          border-radius: var(--xc-rounded-eight);
          padding: 8px 11px;
        }
      }
      .assign_credits {
        display: flex;
        flex-direction: column;
        gap: 8px;
        input {
          border: 1px solid;
          border-color: var(--xc-grey100);
          border-radius: var(--xc-rounded-eight);
          padding: 8px 11px;
          outline: none;
          caret-color: var(--xc-brand-medium-blue);
        }
      }
      .action_buttons {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
      }
    }
  }
}