<section class="stepper">
  <header
    class="stepper-container"
    [ngClass]="{
      'stepper-horizontal': orientation === 'horizontal',
      'stepper-vertical':   orientation === 'vertical'
    }"
  >
    <button
      class="back-button"
      [style.visibility]="actualStep > 1 ? '' : 'hidden'"
      (click)="previousStep()"
    >
      <xc-icon-arrow-left class="back-button-icon"></xc-icon-arrow-left>
      <p xcCopyStyles class="copy-400-bold">Back</p>
    </button>

    <div class="stepper-container-stepper-wrapper">
      <ng-container *ngFor="let step of stepsArray; let last = last">
        <span
          class="icon-container"
          [ngClass]="{
            'active-step':   step === actualStep,
            'inactive-step': step !== actualStep
          }"
        >
          <xc-icon-check *ngIf="step === actualStep"></xc-icon-check>
        </span>
        <span class="connector" *ngIf="!last"></span>
      </ng-container>
    </div>
  </header>

  <div class="stepper-body">
    <ng-container *ngIf="actualStep === 1">
      <article class="stepper-content" appClickOutside>
        <img
          src="assets/img/new-project-header.webp"
          alt="new-project-header-image"
        />
        <div class="stepper-content-description">
          <h5 xcHeadlineStyles class="headline-400">Start a new project</h5>
          <div class="stepper-content-description-container">
            <ul class="stepper-content-description-container-list">
              <li>Describe your project, select an AI template</li>
              <li>Get guidance through milestones and objectives</li>
              <li>
                Assign collaborator to help you progress and reward them with
                credits
              </li>
            </ul>
            <ul class="stepper-content-description-container-list">
              <li>Set goals to structure your project phases</li>
              <li>Track progress in your dashboard</li>
              <li>Invite mentors and investors</li>
              <li>
                Valuate your project with real-life operational performance
                metrics
              </li>
            </ul>
          </div>
        </div>
      </article>
    </ng-container>

    <ng-container *ngIf="actualStep === 2">
      <article class="stepper-content">
        <h5 xcHeadlineStyles class="headline-400">Start a new project</h5>
        <div class="second-container">
          <div class="second-container-title">
            <strong>Title</strong>
            <input
              type="text"
              placeholder="Name your project"
              class="second-container-title-input-name"
            />
          </div>
          <div class="second-container-description">
            <strong>Description</strong>
            <textarea
              placeholder="Describe your project goals and process"
              rows="7"
              cols="40"
              class="second-container-title-input-description"
            ></textarea>
          </div>
          <div class="upload-container">
            <strong>Banner Image</strong>
            <label class="upload-container-button">
              <xc-icon-upload class="upload-container-button-icon"></xc-icon-upload>
              <span class="upload-container-button-span">
                <p xcCopyStyles class="copy-300-bold">Upload an image</p>
              </span>
              <input
                type="file"
                class="upload-container-button-span-input"
              />
            </label>
          </div>
        </div>
      </article>
    </ng-container>

    <ng-container *ngIf="actualStep === 3">
      <article class="stepper-content">
        <h5 xcHeadlineStyles class="headline-400">
          Start a new project
        </h5>
        <label class="second-container-title-input">
          <input
            type="text"
            placeholder="What are you looking for"
            class="second-container-title-input-mod"
          />
          <xc-icon-search class="second-container-title-input-icon"></xc-icon-search>
        </label>
        <div class="second-container-templates">
          <button
            *ngFor="let template of fakeTemplates"
            class="template"
            (click)="selectTemplate(template)"
            [ngClass]="{ 'template-selected': selectedTemplate === template }"
          >
            <div class="template_header">
              <img
                [src]="template.image"
                alt="project-image"
                class="template_header-image"
              />
            </div>
            <div class="template_title">
              <h6 xcHeadlineStyles class="headline-300">
                {{ template.name }}
              </h6>
              <div class="template_title-tags">
                <span *ngFor="let tag of template.tags" xcProfileTags="gray">
                  {{ tag }}
                </span>
              </div>
            </div>
            <p class="template_description">{{ template.description }}</p>
          </button>
        </div>
      </article>
    </ng-container>

    <footer class="stepper-footer">
      <span class="gray-divider"></span>
      <span class="buttons-container">
        <button
          xcButtonsWrappers
          class="button-default-noHeight cancel"
          (click)="finish()"
        >
          Cancel
        </button>
        <button
          xcButtonsWrappers
          class="button-filled-noHeight next"
          (click)="changeStep()"
          *ngIf="actualStep < stepsArray.length"
        >
          Next
        </button>
        <button
          xcButtonsWrappers
          *ngIf="actualStep === stepsArray.length"
          [ngClass]="{
            'create-project': canCreate,
            'create-project-inactive': !canCreate
          }"
          [disabled]="!canCreate"
          (click)="createProject()"
        >
          Create Project
        </button>
      </span>
    </footer>
  </div>
</section>
