<section class="history">
  <div class="history_content">
    <article class="history_content-card">
      <section class="transactions">
        <header class="transactions-header">
          <h3>Credit transactions</h3>
          <div class="transactions-filter">
            <div class="transactions-filter__box">
              <label for="sort">Sort by:</label>
              <select id="sort">
                <option value="latest">latest</option>
                <option value="oldest">oldest</option>
              </select>
            </div>
          </div>
        </header>

        <ul class="transactions-list">
          <li class="transactions-list-item">
            <span class="transactions-list-item__label">Manuel Cabrera</span>
            <span class="transactions-list-item__date">14 Aug.24</span>
            <span class="transactions-list-item__amount negative"
              >-500 Xcoins</span
            >
          </li>
          <li class="transactions-list-item">
            <span class="transactions-list-item__label">Lucía Torres</span>
            <span class="transactions-list-item__date">10 Aug.24</span>
            <span class="transactions-list-item__amount negative"
              >-250 Xcoins</span
            >
          </li>
          <li class="transactions-list-item">
            <span class="transactions-list-item__label">Carlos Rivera</span>
            <span class="transactions-list-item__date">05 Aug.24</span>
            <span class="transactions-list-item__amount positive"
              >+1200 Xcoins</span
            >
          </li>
          <li class="transactions-list-item">
            <span class="transactions-list-item__label">Ana Gómez</span>
            <span class="transactions-list-item__date">28 Jul.24</span>
            <span class="transactions-list-item__amount negative"
              >-150 Xcoins</span
            >
          </li>
          <li class="transactions-list-item">
            <span class="transactions-list-item__label">Ana Gómez</span>
            <span class="transactions-list-item__date">28 Jul.24</span>
            <span class="transactions-list-item__amount negative"
              >-150 Xcoins</span
            >
          </li>
          <li class="transactions-list-item">
            <span class="transactions-list-item__label">Ana Gómez</span>
            <span class="transactions-list-item__date">28 Jul.24</span>
            <span class="transactions-list-item__amount negative"
              >-150 Xcoins</span
            >
          </li>
          <li class="transactions-list-item">
            <span class="transactions-list-item__label">Ana Gómez</span>
            <span class="transactions-list-item__date">28 Jul.24</span>
            <span class="transactions-list-item__amount negative"
              >-150 Xcoins</span
            >
          </li>
          <li class="transactions-list-item">
            <span class="transactions-list-item__label">Ana Gómez</span>
            <span class="transactions-list-item__date">28 Jul.24</span>
            <span class="transactions-list-item__amount negative"
              >-150 Xcoins</span
            >
          </li>
          <li class="transactions-list-item">
            <span class="transactions-list-item__label">Ana Gómez</span>
            <span class="transactions-list-item__date">28 Jul.24</span>
            <span class="transactions-list-item__amount negative"
              >-150 Xcoins</span
            >
          </li>
          <li class="transactions-list-item">
            <span class="transactions-list-item__label">Ana Gómez</span>
            <span class="transactions-list-item__date">28 Jul.24</span>
            <span class="transactions-list-item__amount negative"
              >-150 Xcoins</span
            >
          </li>
          <li class="transactions-list-item">
            <span class="transactions-list-item__label">Ana Gómez</span>
            <span class="transactions-list-item__date">28 Jul.24</span>
            <span class="transactions-list-item__amount negative"
              >-150 Xcoins</span
            >
          </li>
          <li class="transactions-list-item">
            <span class="transactions-list-item__label">Ana Gómez</span>
            <span class="transactions-list-item__date">28 Jul.24</span>
            <span class="transactions-list-item__amount negative"
              >-150 Xcoins</span
            >
          </li>
          <li class="transactions-list-item">
            <span class="transactions-list-item__label">Ana Gómez</span>
            <span class="transactions-list-item__date">28 Jul.24</span>
            <span class="transactions-list-item__amount negative"
              >-150 Xcoins</span
            >
          </li>
        </ul>

        <footer class="transactions-footer">
          <button
            href="#"
            class="transactions-footer-link"
            
          >
            <xc-icon-arrow-right class="icon" />
            <b>View and download invoices</b>
          </button>
        </footer>
      </section>
    </article>
    <button class="btn btn--rounded" (click)="closeHistoryModal()">
      <xc-icon-close-s class="btn__icon" />
    </button>
  </div>
</section>