// Variables
$primary-color: #1a75ff;
$secondary-color: #c7efba;
$border-color: lightgrey;
$background-gradient: linear-gradient(
  to right,
  #add16f,
  #b3d578,
  #b8d881,
  #bbd888,
  #c0d69a,
  #cad7b3
);
$border-radius: 15px;
$font-size-base: 17px;

.wrapper {
  overflow: hidden;
  max-width: 644px;
  height: 782px;
  background: var(--xc-white);
  padding: 30px;
  border-radius: $border-radius;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.slide_controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px;
  justify-content: space-between;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  &-login{
    color: black;
  }

  &__slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }

  &__slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: $border-radius;
    background: $background-gradient;
    transition: all 0.6s ease;
  }
}

input[type="radio"] {
  display: none;
}

#signup:checked ~ .slide-controls__slider-tab {
  left: 50%;
}

.form-container {
  width: 100%;
  overflow: hidden;

  &__inner {
    display: flex;
    width: 200%;
  }
}

.field {
  height: 50px;
  width: 100%;
  margin-top: 20px;

  &__input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    border-bottom-width: 2px;
    font-size: $font-size-base;
    transition: all 0.3s ease;

    &:focus {
      border-color: $secondary-color;
    }

    &::placeholder {
      color: #999;
      transition: all 0.3s ease;
    }
  }
}

.password-container {
  position: relative;

  &__input {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
  }
}

.password-requirements {
  padding-top: 8px;
  list-style: disc;
  padding-left: 16px;

  &__title {
    font-size: 12px;
    font-weight: 600;
    left: -16px;
    list-style-type: none;
    position: relative;
  }

  &__item {
    color: red;
    font-size: 12px;
    margin-left: 8px;
  }
}
