.wrapper {
  overflow: hidden;
  width: 644px;
  min-height: 780px;
  background: var(--xc-white);
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.title {
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6px;
  font-weight: 700;
  height: 48px;

  &-logo {
    width: 55px;
    height: 44px;
  }

}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.slide_controls {
  display: flex;
  height: 42px;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  margin-top: 24px;
  border-radius: 8px;

  &-left {
    background: var(--xc-gradient-light-grey-on-white);
    display: flex;
    padding: 8px 10px 8px 11px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 8px 0px 0px 8px;
  }

  &-right {
    display: flex;
    padding: 7px 10px 7.5px 11px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 0px 8px 8px 0px;
    border-radius: 0px 8px 8px 0px;
    border-top: 1.5px solid var(--Base-Grey-100, #E8EDE9);
    border-right: 1.5px solid var(--Base-Grey-100, #E8EDE9);
    border-bottom: 1.5px solid var(--Base-Grey-100, #E8EDE9);
  }
}

.form-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  padding-top: 12px;

  &-login {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;

    &_lab {
      font-weight: 700;
      font-size: 16px;
    }

    &_inp {
      border-radius: 8px;
      gap: 4px;
      padding: 10px 10px 10px 10px;
      align-items: flex-start;
      gap: 4px;
      align-self: stretch;
      border: 1.5px;
      border-color: var(--xc-grey200);
      border-style: solid;
    }
  }

  .form-inner-login_inp:focus {
    outline: none;
    caret-color: linear-gradient(109deg, #47E3E3 33.19%, #78F7AD 85.37%);
    caret: 2px;
  }

  &-password {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;

    &_lab {
      font-weight: 700;
      font-size: 16px;
    }

    &_span {
      display: flex;
      justify-content: space-between;

    }

    &_inp {
      border-radius: 8px;
      gap: 4px;
      padding: 10px 10px 10px 10px;
      align-items: flex-start;
      gap: 4px;
      align-self: stretch;
      border: 1.5px;
      border-color: var(--xc-grey200);
      border-style: solid;
      width: 100%;
    }

    &_eye {
      position: absolute;
      right: 8px;
      bottom: 10px;
      border-color: black;
    }
  }

  &-forgot {
    font-size: 14px;
    font-weight: 700;
  }

  &-button {
    background: var(--xc-gradient-light-blue);
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    gap: 16px;
    align-self: stretch;
    color: var(--xc-grey500);

    :hover {
      color: black;
    }
  }
}

.meta-links {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 24px;
  font-size: 12px;
  color: black;

  &a {
    :hover {
      text-decoration: underline, black;
    }
  }
}

input[type="radio"] {
  display: none;
}

//Sign Up styles

.form-inner_signup {
  display: flex;
  flex-direction: column;
  gap: 24px
}

.error-message {
  color: red;
}