<main class="ecosystem">
    <section class="ecosystem__navigation">
      <article class="ecosystem__tabs">
        <button
        class="ecosystem__tab-button"
        *ngFor="let sec of sections"
        (click)="changeSection(sec)"
        [class.active]="section === sec"
      >
        <span *ngIf="sec === 'Members'" [ngClass]="{ 'ecosystem__notification': isNotification }"></span>
        {{ sec }}
      </button>
      </article>
    </section>
  
    <section class="ecosystem__appearance" *ngIf="section === 'Apperance'">
      <article class="ecosystem__appearance-customization">
        <h5 class="ecosystem__headline">Customize the appearance of your ecosystem</h5>
  
        <div class="ecosystem__form-wrapper">
          <p class="ecosystem__section-title">General Information</p>
          <form class="ecosystem__form">
            <label class="ecosystem__form-field">
              <p class="ecosystem__label">Ecosystem title</p>
              <input class="ecosystem__input" type="text" placeholder="Fill the title" />
            </label>
            <label class="ecosystem__form-field">
              <p class="ecosystem__label">Ecosystem slogan</p>
              <input class="ecosystem__input" type="text" placeholder="Fill in your slogan" />
            </label>
            <label class="ecosystem__form-field">
              <p class="ecosystem__label">Project description</p>
              <textarea class="ecosystem__textarea" cols="6" rows="30" placeholder="Please describe your ecosystem"></textarea>
            </label>
          </form>
  
          <span class="ecosystem__info-block">
            <p class="ecosystem__info-label">Version</p>
            <p class="ecosystem__info-value">0.3.5</p>
          </span>
          <span class="ecosystem__info-block">
            <p class="ecosystem__info-label">Created</p>
            <p class="ecosystem__info-value">31 Aug 2023</p>
          </span>
        </div>
      </article>
  
      <article class="ecosystem__appearance-extras">
        <p class="ecosystem__section-title">Further Settings</p>
        <div class="ecosystem__visibility">
          <p class="ecosystem__label">Public visibility</p>
        </div>
        <div class="ecosystem__tags">
          <span xcProfileTags="gray" class="ecosystem__tag">tag</span>
          <span xcProfileTags="gray" class="ecosystem__tag">tag</span>
          <span xcProfileTags="gray" class="ecosystem__tag">tag</span>
        </div>
      </article>
  
      <div class="ecosystem__actions">
        <button class="ecosystem__save-button">Save Changes</button>
      </div>
    </section>
  </main>
  