:host {
  display: flex;
  width: 100%;
}
.ecosystem {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  height: 100%;
  &__navigation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    &_tabs {
      display: flex;
      gap: 16px;
      background: var(--xc-white);
      padding: 8px;
      border-radius: var(--xc-rounded-eight);
    }
  }
  &__appearance {
    &-customization {
      display: grid;
      grid-template-columns: 765px 1fr;
      align-items: start;
      gap: 24px;
      flex-wrap: wrap;
      .form_wrapper {
        display: flex;
        background: var(--xc-white);
        box-shadow: var(--xc-boxShadow-400);
        border-radius: var(--xc-rounded-eight);
        width: 100%;
        &-form {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 24px;
          &-field {
            p {
              display: flex;
              flex-direction: column;
              color: var(--xc-black400);
              width: 100%;
            }
            input {
              width: 100%;
              padding: 4px 8px;
              border: 1px solid;
              border-color: var(--xc-grey100);
              border-radius: var(--xc-rounded-eight);
              caret-color: var(--xc-brand-medium-blue);
              &:focus {
                outline: none;
              }
            }
            textarea {
              width: 100%;
              padding: 4px 8px;
              border: 1px solid;
              border-color: var(--xc-grey100);
              border-radius: var(--xc-rounded-eight);
              caret-color: var(--xc-brand-medium-blue);
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
      .settings {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .extras {
          &_visibility {
            display: flex;
            gap: 6px;
            align-items: center;
          }
          @extend .form_wrapper;
          &__tags {
            padding: 16px;
            display: flex;
            flex-direction: column;
            gap: 64px;

            &-injector {
              display: flex;
              flex-wrap: wrap;
              gap: 8px;
            }

            &-button {
              display: flex;
              gap: 3px;
              align-self: flex-end;
              border: none;
              width: 100px;
              margin-left: 64px;
              .see-all {
                display: flex;
                gap: 3px;
                align-items: center;
                .icon {
                  display: flex;
                  width: 16px;
                  height: 16px;
                  stroke: var(--xc-black500);
                }
              }
            }
          }
        }
        .save {
        align-self: flex-end;
          .icon {
            display: flex;
            stroke: var(--xc-white);
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
