<main class="ecosystem">
  <section class="ecosystem__navigation">
    <article class="ecosystem__navigation_tabs">
      <button
        *ngFor="let sec of sections"
        class="ecosystem__tab-button"
        (click)="changeSection(sec)"
        [ngClass]="{
          'btn btn--tab_active': section === sec,
          'btn btn--tab_inactive': section !== sec
        }"
      >
        <span
          *ngIf="sec === 'Members'"
          [ngClass]="{ ecosystem__notification: isNotification }"
        ></span>
        {{ sec }}
      </button>
    </article>
  </section>

  <app-apperance *ngIf="section === 'Apperance'"/>

  <app-legal *ngIf="section === 'Legal'"/>

  <app-credits *ngIf="section === 'Credits'"/>

  <app-templates *ngIf="section === 'Templates'" class="ecosystem_templates"/>
  
  <app-members *ngIf="section === 'Members'" class="ecosystem_members"/>

</main>

<section *ngIf="isBuyTenant" class="buy_tenant">
  <div class="buy_tenant_content">
    <article class="buy_tenant_content-card">
      <header class="send_tenant-content-card-header">
        <img src="assets/img/Buy-tenant.png" alt="buy_tenant-content-card-header-image">
      </header>
      <h3>Buy credits for tenant</h3>
      <p>You do not have the credits required to send this Objective to a collaborator.</p>
      <div class="custom-select">
        <b>Buy credits</b>
        <select class="dropdown">
          <option disabled selected>Select the amount</option>
        </select>
      </div>
      <label class="card-data_field">
        <b>Add yout email adress</b>
        <input type="email" placeholder="name@domain.com" />
      </label>
      <div class="card-data">
        <label class="card-data_field--wide">
          <b>Your card number</b>
          <input type="number" placeholder="0000 0000 0000 0000" />
        </label>
        <label class="card-data_field">
          <b>Valid until</b>
          <input type="text" placeholder="MM/YY" />
        </label>
        <label class="card-data_field">
          <b>CVV</b>
          <input type="password" />
        </label>
      </div>
      <div class="balance">
        <span class="balance_current">
          <b>Current Balance</b>
          <p>66,677 xCoins</p>
        </span>
        <span class="balance_new">
          <b>New Balance</b>
          <p>66,677 xCoins</p>
        </span>
      </div>
      <div class="action_buttons">
        <button class="btn" (click)="closeBuyTenant()">
          <xc-icon-times class="btn__icon"/>
          <p>Cancel</p>
        </button>
        <button class="btn btn--filled">
          <xc-icon-shopping-cart class="btn__icon_filled"/>
          <p>Buy credits</p>
        </button>
      </div>
    </article>
  </div>
</section>