.main-content {
  background: var(--xc-grey50);
  display: flex;
  padding: 12px;
  gap: 24px;
  width: 100%;
  height: 100vh;
  &__router {
    width: 100%;
    height: 100%;
    padding: 8px;
  }
}
