<div style="width: 250px; padding: 2rem;">
  <xc-details title="titulo genérico" [(isOpen)]="abierto">
    <p>mi super contenido Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem cum debitis asperiores! Nostrum laboriosam nihil asperiores aperiam assumenda dolore blanditiis qui, cum ipsum magni molestiae quaerat cumque officiis aliquam nobis.
    Modi dolores culpa architecto asperiores repudiandae quisquam eum, molestiae laborum perferendis ipsum perspiciatis natus vitae ea saepe porro dolorum possimus, commodi non, voluptas accusamus. Pariatur nisi maiores eum sed quas?
    Laudantium quibusdam necessitatibus in sit reprehenderit cumque delectus reiciendis. Consequuntur dolorem blanditiis debitis cum suscipit explicabo sapiente quae odit aliquam dolor. Ea voluptas odit modi veniam nemo vel tempore. Debitis.
    Vel, voluptate, doloremque autem exercitationem quos perspiciatis modi quasi facere nam eligendi voluptatem et. Obcaecati necessitatibus illo accusantium nulla quasi repellat nobis, perferendis minus reiciendis ex. Facilis quia enim dolorum.
     architecto aliquid? Atque ut nisi optio in nesciunt necessitatibus dolorem maiores ipsum iste, illo autem perferendis soluta? Accusamus assumenda aperiam, dolorem animi perferendis sint blanditiis qui!
    Aut ducimus nam eos deleniti sunt, voluptatum laudantium molestiae rerum molestias quaerat aliquam quod ab recusandae? Consectetur eum eaque quod molestiae molestias, reiciendis ducimus dolor pariatur itaque perferendis, cum ipsam?
    Commodi architecto ipsum animi veritatis quia voluptatem facere ducimus totam et placeat. Earum tenetur expedita, nostrum molestiae tempora doloremque numquam maxime, distinctio et quod tempore minima explicabo laborum eos rerum.
    Eaque modi eligendi, cumque necessitatibus libero sit, nihil magni facere sed obcaecati dolor numquam voluptatem rerum quo laudantium quisquam consequuntur exercitationem sapiente autem, earum incidunt velit sequi. Nesciunt, debitis nobis?
    Veritatis cum odit deleniti vitae autem aut asperiores, rerum hic nisi nemo dolores tempora architecto magnam praesentium quas illo consectetur minima et cupiditate corrupti officiis sunt laborum dolor at? Asperiores.
    Cumque corrupti quos minus, dolorem quis magnam repudiandae facere cum, hic consectetur molestias mollitia. Voluptate minima eos vitae repellendus animi est sequi? Facere vero ut, obcaecati reprehenderit nulla quasi provident?
    Quas quia iusto sequi sed, delectus est omnis id impedit obcaecati natus in esse error porro laudantium dicta, illo inventore ab totam doloribus temporibus corrupti fugit maiores unde laborum? Quos.</p>
  </xc-details>
</div>
<br>

