<button
  [disabled]="blockElement"
  (click)="optionsOpen = true"
  [tabIndex]="0"
  (focusout)="optionsClose()"
  class="relative flex justify-center items-center min-w-[210px] max-w-[250px]"
>
  <div
    class="flex justify-between items-center w-full border border-Secondary_Fonts rounded-lg px-4 py-2"
  >
    <div class="flex w-4/5 justify-between items-center">
      <input
        [readOnly]="blockElement"
        type="number"
        [value]="setUnitValue ? setUnitValue : 0"
        (focusin)="optionsOpen = false"
        *ngIf="(userSelection && selection === 'metric') || setUnitValue"
        (input)="setUnit($event)"
        (keyup)="setUnit($event)"
        (click)="setUnit($event)"
        class="flex w-3/5 font-manrope py-1 px-2"
      />
      <spam
        class="flex font-manrope items-center justify-center py-2"
        *ngIf="showMode"
        [ngClass]="{
          'bg-[#aacf64] rounded-lg px-4': userSelection && showMode === 'select',
          'px-4': selection !== 'select',
          'w-2/5': showMode === 'metric',
        }"
      >
        {{ setValue }}
      </spam>
      <spam
        class="flex font-manrope items-center justify-center py-2"
        *ngIf="!showMode"
        [ngClass]="{
          'bg-[#aacf64] rounded-lg px-4':userSelection && selection === 'select',
          'px-4': selection !== 'select',
          'w-2/5': userSelection && selection === 'metric',
        }"
      >
        {{ userSelection ? userSelection : "Select an option" }}
      </spam>
    </div>
    <div
      class="flex w-1/5 items-center"
      [ngClass]="{ 'rotate-180 justify-start': getOptionStatus() }"
      [style]="{ 'justify-content': getOptionStatus() ? 'start' : 'end' }"
    >
      <ng-content />
    </div>
  </div>
  <ul
    *ngIf="getOptionStatus()"
    class="cardShadow bg-white absolute top-[40px] translate-x-[-50%] left-1/2 flex flex-col gap-4 px-4 py-2 z-2 min-w-[220px] rounded-lg"
  >
    <li
      *ngFor="let option of getTaskOptionsCatalog(selection); index as i"
      class="ms-4 text-nowrap cursor-pointer hover:border border-Secondary_Fonts rounded-md"
      (click)="emitSelection(i)"
    >
      {{ option }}
    </li>
  </ul>
</button>
