<article class="numbers">
  <div class="value">
    <h1>4,235,340 €</h1>
    <p>current project valuation</p>
  </div>
  <div class="value">
    <h1>1,256,500 XCoins</h1>
    <p>project value on Xcamp</p>
  </div>
  <div class="value">
    <h1>1.8%</h1>
    <p>Growth factor</p>
  </div>
</article>
<article class="cards">
  <button
    class="card"
    (click)="switchViewService.setViewState('collaborations')"
  >
    <div class="card__background"></div>
    <div class="card__overlay"></div>
    <div class="card__content">
      <h2>Collaborator fund</h2>
      <b class="text_400">(external)</b>
    </div>
  </button>
  <button class="card" (click)="switchViewService.setViewState('employee')">
    <div class="card__background"></div>
    <div class="card__overlay"></div>
    <div class="card__content">
      <h2>Employee fund</h2>
      <b class="text_400">(internal)</b>
    </div>
  </button>
  <button class="card" (click)="switchViewService.setViewState('owners')">
    <div class="card__background"></div>
    <div class="card__overlay"></div>
    <div class="card__content">
      <h2>Owners fund</h2>
      <b class="text_400">(vesting)</b>
    </div>
  </button>
  <button class="add_fund">
    <div class="add_fund-content">
      <xc-icon-plus-circle class="icon" />
      <b>Create a new fund</b>
      <b>(coming soon)</b>
    </div>
  </button>
</article>
<article class="graphs">
  <h3>Project Value</h3>
  <div class="graphs-container">
    <span class="pie-graph">
      <img
        src="assets/img/temp-pieGraph.png"
        alt="temporal-pieGraph"
        class="pie-graph-chart"
      />
    </span>
    <span class="line-graph">
      <div class="line-graph-chart">
        <img src="assets/img/temp-graph.png" alt="temporal-dot-graph" />
      </div>
      <div class="line-graph-data">
        <div class="dot-data">
          <span class="blue"></span>
          <p>Total value</p>
        </div>
        <div class="dot-data">
          <span class="medBlue"></span>
          <p>Collaboration fund</p>
        </div>
        <div class="dot-data">
          <span class="smBlue"></span>
          <p>Owners fund</p>
        </div>
        <div class="dot-data">
          <span class="smBlue"></span>
          <p>Employee fund</p>
        </div>
      </div>
    </span>
  </div>
</article>
