<section class="project-container">
  <header class="project-container-header">
    <div>Aqui ira el nuevo header</div>
  </header>
  <article class="project-container-article">
    <div class="project-container-article-about">
      <div class="project-container-article-about-objectives">
        <p xcHeadline300>Overall project progress</p>
        <xc-project-progress-bar [completed]="5" [open]="4" [suggested]="4" />
      </div>
      <div class="project-container-article-about-description">
        <p xcHeadline300>About the project</p>
        <!-- <p>{{ project.description }}</p> -->
      </div>
    </div>
    <div class="project-container-article-metrics">
      <div class="project-container-article-metrics-tags">
        <div class="project-container-article-metrics-tags-container">
          <div xcProfileTags="gray">Generate</div>
          <div xcProfileTags="gray">Organizational</div>
          <div xcProfileTags="gray">Improve</div>
        </div>
        <button class="project-container-article-metrics-tags-button">
          <xc-icon-arrow-right
            class="project-container-article-metrics-tags-button-icon"
          />
          <p class="project-container-article-metrics-tags-button-text">
            See all tags
          </p>
        </button>
      </div>
      <div class="project-container-article-metrics-numbers">
        <p xcHeadline300>Project Metrics</p>
        <div class="project-container-article-metrics-numbers-container">
          <span
            class="project-container-article-metrics-numbers-container-item"
          >
            <p xcHeadline500>16</p>
            <p>Proofs uploaded</p>
          </span>
          <div class="separator"></div>
          <span
            class="project-container-article-metrics-numbers-container-item"
          >
            <p xcHeadline500>10</p>
            <p>Collaborations</p>
          </span>
          <div class="separator"></div>
          <span
            class="project-container-article-metrics-numbers-container-item"
          >
            <p xcHeadline500>100,000 €</p>
            <p>Value added through collaborations</p>
          </span>
        </div>
      </div>
    </div>
  </article>
  <footer
    class="project-container-footer"
    [class.project-container-footer-invitation]="invitation"
  >
    <ng-container *ngIf="invitation; else noInvitation">
      <div class="project-container-footer-content">
        <div class="project-container-footer-text">
          <p xcHeadline300>New Invitation</p>
          <p>You have been invited to this project. Do you want to accept?</p>
        </div>
        <div class="project-container-footer-buttons">
          <button class="project-container-footer-button reject-button">
            <xc-icon-close-s class="project-container-footer-button-icon" />
            Reject
          </button>
          <button class="project-container-footer-button">
            <xc-icon-check class="project-container-footer-button-icon" />
            Accept
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #noInvitation>
      <button class="project-container-footer-button">Ask for access</button>
    </ng-template>
  </footer>
</section>
<button class="close-modal-button" (click)="onCloseModal()">
  <xc-icon-close-s class="close-modal-icon"></xc-icon-close-s>
</button>
