:host {
    display: block;
    width: 100%;
    height: 100%;
}

.portfolio {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    &_filters {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &_title {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    &_cards_container {
        display: flex;
        height: 90%;
        overflow-y: auto;
    }
    &_cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        width: 100%;
        height: min-content;
    }
}