<section class="modal-wrapper">
  <article class="top-image-cover">
    <img src="assets/img/user-modal-background.webp" alt="backgroun-modal" class="user-background-modal">
  </article>
  <article class="profile-content">
    <div class="top-content">
      <section class="user-data-wrapper">
        <div class="user-data-card">
          <span class="user-data-name">
            <h4>Fabian Feitu</h4>
          </span>
          <span class="user-data-achievements">
            <div class="achievements-1">
              <div class="number-flex">
                <span class="achievements-number">11</span> 
                <p>completed objectives</p>
              </div>
              <div class="number-flex">
                <span class="achievements-number">50</span> 
                <p>active objectives</p>
              </div>
            </div>
            <div class="achievements-2">
              <div class="number-flex">
                <span class="achievements-number">18</span> 
                <p>next steps</p>
              </div>
              <div class="number-flex">
                <span class="achievements-number">10</span>
                <p> involved projects</p>
              </div>
            </div>
          </span>
        </div>
      </section>
      <section class="user-image-wrapper">
        <div class="user-image-container">
          <img src="/assets/img/user-image-profile.png" alt="user-profile-image" class="user-profile-image">
        </div>
      </section>
    </div>
    <div class="user-information">
      <section class="about-me">
        <h5 class="about-me-h5">About me</h5>
        <textarea name="about-me-text">
          I founded COBIOM as a network of professionals who believe that collaboration and cocreation our our best tools to transform businesses into agents for a better future. As Director and head of strategy and product development, me and my great team develop the COBIOM ecosystem as a consultancy, coworking and learning platform that provides end-to-end services from intent to implementation in innovation and business transformation.
        </textarea>
      </section>
      <section class="more-information">
        <h5 class="more-information-h5">More information</h5>
        <div class="more-information-data">
          <span class="interest-talents-wrapper">
            <p>Interest talents</p>
            <div class="interest-talents-tabs"></div>
          </span>
          <span class="member-since-wrapper">
            <p>Member since</p>
            <p class="member-date">7 Aug.2024</p>
          </span>
          <span class="email-wrapper">
            <p>Email</p>
            <div class="email-data">
              <img src="" alt="" class="email-icon">
              <p>testmail</p>
            </div>
          </span>
          <span class="linkedin-wrapper">
            <p>Linkedin</p>
            <div class="linkedin-data">
              <img src="" alt="" class="linkedin-icon">
              <p>linkedin.com/lorem</p>
            </div>
          </span>
        </div>
      </section>
    </div>
  </article>
</section>