<section xcProfileHeader appClickOutside > 
  <article class="top-image-cover">
    <img
      src="assets/img/user-modal-background.webp"
      alt="backgroun-modal"
      class="user-background-modal"
    />
  </article>
  <article class="profile-content">
    <div class="top-content">
      <section class="user-data-wrapper">
        <div class="user-data-card">
          <span class="user-data-name">
            <h4>{{ user.name }} ({{ user.company }})</h4>
          </span>
          <span class="user-data-achievements">
            <div class="achievements-1">
              <div class="number-flex">
                <span class="achievements-number">{{ user.completedObj }}</span>
                <p>completed objectives</p>
              </div>
              <div class="number-flex">
                <span class="achievements-number">{{ user.activeObj }}</span>
                <p>active objectives</p>
              </div>
            </div>
            <div class="achievements-2">
              <div class="number-flex">
                <span class="achievements-number">{{ user.nextSteps }}</span>
                <p>next steps</p>
              </div>
              <div class="number-flex">
                <span class="achievements-number">{{ user.invProyects }}</span>
                <p>involved projects</p>
              </div>
            </div>
          </span>
        </div>
      </section>
      <section class="user-image-wrapper">
        <div class="user-image-container">
          <xc-rounded-image image="{{ user.imageUrl }}" [marginSize]="3" />
        </div>
      </section>
    </div>
    <div class="user-information">
      <section class="about-me">
        <h5 class="about-me-h5">About me</h5>
        <p name="about-me-text">
          {{ user.description }}
        </p>
      </section>
      <section class="more-information">
        <h5 class="more-information-h5">More information</h5>
        <div class="more-information-data">
          <span class="interest-talents-wrapper">
            <p class="talents-p">Interest talents</p>
            <div class="tabs-wrapper">
              <div xcProfileTags="gray" class="example-item" *ngFor="let tag of user.tags">{{tag}}</div>
            </div>
          </span>
          <span class="member-since-wrapper">
            <p>Member since</p>
            <p class="member-date">{{user.memberDate}}</p>
          </span>
          <span class="email-wrapper">
            <p>Email</p>
            <div class="email-data">
              <xc-icon-envelope class="email-icon"/>
              <p class="user-email">{{user.email}}</p>
            </div>
          </span>
          <span class="linkedin-wrapper">
            <p>Linkedin</p>
            <div class="linkedin-data">
              <xc-icon-linkedin class="linkedin-icon"/>
              <p>{{user.linkedin}}</p>
            </div>
          </span>
        </div>
      </section>
    </div>
  </article>
</section>