.modal-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1216px;
  height: 811px;
  overflow: hidden;
}

.top-image-cover {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.user-background-modal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-wrapper > article:nth-child(2) {
  position: relative;
  z-index: 10;
  background: var();
  border-radius: 20px 20px 0 0;
  margin-top: -60px;
}

.user-data-name {
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
}

.user-profile-image {
  width: 200px;
  height: 200px;
}

.top-content {
  display: flex;
  justify-content: space-between;
  padding-left: 44px;
  padding-right: 44px;
}

.user-data-card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  padding: 32px;
  gap: 24px;
}

.user-data-achievements {
  display: flex;
  gap: 24px;
}

.achievements-1::after {
  content: "";
  width: 390px;
  height: 2px;
  background-color: var(--xc-grey100);
  position: absolute;
  top: 140px;
}

.number-flex {
  display: flex;
  justify-content: start;
  align-items: baseline;
  gap: 8px;
}

.achievements-1 .achievements-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.achievements-number {
  font-size: 32px;
  font-weight: 600;
}

.user-image-wrapper {
  display: flex;
  /* align-items: end;
justify-content: end; */
}

.user-image-container {
  border-radius: 24px;
}

.user-information {
  display: flex;
  align-items: start;
  gap: 16px;
  width: 100%;
  padding-left: 44px;
  padding-right: 44px;
  margin-top: 32px;
}

.about-me {
  text-align: start;
padding: 24px;
gap: 16px
}

.about-me-h5 {
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.more-information {
  align-items: start;
  justify-content: space-between
}

.about-me,
.more-information {
  flex: 1; /* Ambas ocupan el 50% del espacio */
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
}

.more-information{
  padding: 24px
}

.more-information-h5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.more-information-data {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.interest-talents-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.interest-talents-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.member-date {
  font-weight: 200;
}

.email-wrapper {
  display: flex;
  flex-direction: column;
}

.email-data {
  display: flex;
}

.linkedin-wrapper {
  display: flex;
  flex-direction: column;
}

.linkedin-data {
  display: flex;
}
