<section class="feed_header">
  <article class="feed_header_background">
    <xc-header-background [imageUrl]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEslIq4_aQ2pF3U3k9rGcETFUPLvwjUdDwhA&s'" class="feed_header_background-image"/>
  </article>
  <article class="feed_header_content">
    <div class="feed_header_content-card">
        <app-header-cards></app-header-cards>
    </div>
    <div class="feed_header_content-rounded">
      <xc-rounded-image 
      class="feed_header_content-rounded-image" 
      [image]="'https://randomuser.me/api/portraits/women/26.jpg'" 
      [marginSize]="4">
      </xc-rounded-image>
    </div>
  </article>
</section>
