.feed_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background: red;
    &_background {
        display: flex;
        width: 100%;
        height: 230px;
        &-image {
            display: flex;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}