<section class="sort-container">
  <div class="sort-wrapper">
    <p class="sort-text">Sort by</p>
    <div class="dropdown">
      <button class="sort-button" (click)="toggleDropdown($event)">
        <span class="sort-button__selected">{{ selectedOption }}</span>
        <xc-icon-angle-down
          [ngClass]="{ 'arrow-down--open': isDropdownOpen }"
          class="arrow-down"
        />
      </button>
      <div
        class="dropdown__menu"
        [ngClass]="{ 'dropdown__menu--open': isDropdownOpen }"
      >
        <button
          *ngFor="let option of sortOptions"
          class="dropdown__item"
          [ngClass]="{ 'dropdown__item--active': selectedOption === option }"
          (click)="selectOption(option)"
        >
          {{ option }}
        </button>
      </div>
    </div>
  </div>
<div class="right-options">
  <div class="refresh-wrapper">
    <button xcButtonsWrappers [class]="isFilterActive ? 'button-refresh' : 'button-refresh-inactive'">
      <xc-icon-redo class="refresh-icon" />
    </button>
  </div>
  <div class="search-wrapper" [class.open]="isSearchOpen">
    <button class="search-button" (click)="toggleSearch()">
      <xc-icon-search class="search-icon" />
    </button>
  
    <input
      *ngIf="isSearchOpen"
      type="text"
      [(ngModel)]="searchTerm"
      class="search-input"
      placeholder="Search..."
    />
  </div>
</div>
</section>
