<main ProfileHeaderDirective >
  <div class="container_content">
    <div class="container_content-nav">
     <span class="container_content-nav-span"> 
      <button class="container_content-nav-span-button">Assignments</button>
      <button class="container_content-nav-span-button">Collaborations</button>
      <xc-sort-by /></span>
    </div>
    <section class="container_content-cards">
      <h5 xcHeadline600>All Projects</h5>
      <div>
        <xc-projects-card/>
      </div>
    </section>
  </div>
</main>
