<main class="container">
  <div class="container_content">
    <div class="container_content-nav">
      <span class="container_content-nav-span">
        <button class="container_content-nav-span-button">Assignments</button>
        <button class="container_content-nav-span-button">
          Collaborations
        </button>
        <xc-sort-by
      /></span>
    </div>
    <section class="container_content-cards">
      <h5 xcHeadline600>All Projects</h5>
      <div class="container_content-cards-wrapper">
        <xc-projects-card class="container_content-cards-wrapper-injector" />
        <button class="new-project-card" (click)="openModal()">
          <span class="new-project-card-icon">
            <xc-icon-plus-circle (projectClick)="openProject($event)" />
          </span>
          <p>Create a new project</p>
        </button>
      </div>
    </section>
  </div>

  <section class="modal" [class.show]="isModalOpen">
    <div class="modal-content" appClickOutside>
      <app-stepper [totalSteps]="9" [orientation]="'horizontal'" (finishStepper)="closeModal()" class="modal-content-injector"/>
    </div>
  </section>

  <section class="modal" [class.show]="isProjectOpen">
    <div class="modal-content" appClickOutside>
      <app-project-modal />
    </div>
  </section>
</main>
