<main class="container">
  <div class="container_content">
    <div class="container_content-nav">
      <span class="container_content-nav-span">
        <button class="container_content-nav-span-button">Assignments</button>
        <button class="container_content-nav-span-button">Collaborations</button>
        <xc-sort-by /></span>
    </div>
    <section class="container_content-cards">
      <h5 xcHeadline600>All Projects</h5>
      <div class="container_content-cards-wrapper">
        <xc-projects-card class="container_content-cards-wrapper-injector" />
        <button class="new-project-card" (click)="openModal()">
          <span class="new-project-card-icon">
            <xc-icon-plus-circle />
          </span>
          <p>Create a new project</p>
        </button>
      </div>
    </section>
  </div>

  <section class="modal" [class.show]="isModalOpen" >
    <div class="modal-content" appClickOutside>
      <img src="assets/img/new-project-header.webp" alt="new-project-header-image">
      <div class="modal-content-description">
        <h5 xcHeadline400>Start a new project</h5>
        <div class="modal-content-description-container">
          <ul class="modal-content-description-container-list">
            <li>Describe your project, select an AI template</li>
            <li>Get guidance through milestones and objectives</li>
            <li>Assign collaborator to help you progress and reward them with credits</li>
          </ul>
          <ul class="modal-content-description-container-list">
            <li>Set goals to structure your project phases</li>
            <li>Track progress in yout dashboard</li>
            <li>Invite mentors and investors</li>
            <li>Valuate yout project with real-life operational performance metrics</li>
          </ul>
        </div>
        <div class="modal-content-description-buttons">
          <button class="button-500-cancel" (click)="closeModal()">Cancel</button>
          <button class="button-500-next">Next</button>
        </div>
      </div>
    </div>
  </section>

</main>