.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &_content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-nav {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 8px;

      &-span {
        display: flex;
        gap: 16px;
        background: white;
        border-radius: 8px;
        padding: 8px;

        &-button {
          color: black;
        }
      }
    }

    &-cards {
      display: flex;
      flex-direction: column;
      gap: 21px;
      overflow-y: scroll;
      &-wrapper {
        &-injector{
          display: flex;
          gap: 24px;
        }
      }
    }
  }
}