<section class="tags_modal">
  <div class="tags_modal_wrapper">
    <div class="tags_modal_wrapper-content">
      <p xcHeadlineStyles class="headline-400">All tags related to Fabian</p>
      <article class="tags_modal_wrapper-content-article">
        <p xcHeadlineStyles class="headline-200">Review your skill tags</p>
        <span class="tags_modal_wrapper-content-article-item">
          <xc-icon-ai class="ia-icon" />
          <p xcCopyStyles class="copy-200-bold">
            Our AI matches your skills with projects, templates and other
            members. Thats why its important to build a strong profile
          </p>
        </span>
      </article>
      <div class="tags_modal_wrapper-content-injector">
        <div xcProfileTags="gray" *ngFor="let tag of tags" class="tag">
          {{ tag }}
          <button>
            <xc-icon-close-s class="tags_modal_wrapper-icon-red" />
          </button>
        </div>
      </div>
      <div class="divider"></div>
      <div class="tags_modal_wrapper-content-new">
        <p xcHeadlineStyles class="headline-200">Add tags</p>
        <span class="tags_modal_wrapper-content-new-span">
          <input
            type="text"
            class="tags_modal_wrapper-content-new-span-input"
          />
          <button>
            <xc-icon-plus-circle
              class="tags_modal_wrapper-content-new-span-icon"
            />
          </button>
        </span>
      </div>
    </div>
    <button xcButtonsWrappers class="button-round-close" (click)="closeTags()">
      <xc-icon-close-s class="tags_modal_wrapper-icon" />
    </button>
  </div>
</section>