<section class="card">
    <header class="card_header">
        <img src="assets/img/Suspend-member.png" alt="suspend-user-header-image">
    </header>
    <h2>Suspend member</h2>
    <div class="action_buttons">
        <button class="btn" (click)="onClose()">
            <xc-icon-times class="btn__icon-sm"/>
            <p>Cancel</p>
        </button>
        <button class="btn btn--ban">
            <xc-icon-ban class="btn__icon_ban"/>
            <p>Suspend member</p>
        </button>
    </div>
</section>