<section class="flex items-center gap-2 py-[11px] px-3 bg-white shadow-Shadow400 rounded-lg max-h-[56px]">
    <xc-navigator-filter-selector-switch-view-option *ngIf="hasTableView" [index]="0" viewOption="table" (selectionChange)="selectorChanger($event)" [selection]="switchState.table">
        <div class="w-16 h-8">
            <xc-icon-navigator-table-selection />
        </div>
    </xc-navigator-filter-selector-switch-view-option>
    <xc-navigator-filter-selector-switch-view-option [index]="1" viewOption="board" (selectionChange)="selectorChanger($event)" [selection]="switchState.board">
<div class="w-16 h-10">
    <xc-icon-navigator-board-selection />
</div>
    </xc-navigator-filter-selector-switch-view-option>
    <xc-navigator-filter-selector-switch-view-option [index]="2" viewOption="graph" (selectionChange)="selectorChanger($event)" [selection]="switchState.graph">
<div class="w-16 h-6">
    <xc-icon-navigator-graph-selection />
</div>
    </xc-navigator-filter-selector-switch-view-option>
</section>