<section class="portfolio-modal">
  <app-modal-header [portfolio]="portfolio" />
  <article class="portfolio-modal__content" *ngIf="currentSection === 'general'">
    <div class="portfolio-modal__about" >
      <div class="portfolio-modal__about-section">
        <div class="portfolio-modal__about-header">
          <h3 class="portfolio-modal__title">About the project</h3>
          <div class="portfolio-modal__tags">
            <div class="portfolio-modal__tags-list">
              <span xcProfileTags="gray" *ngFor="let tag of portfolio.tags">{{ tag }}</span>
            </div>
            <button class="portfolio-modal__tags-button">
              <xc-icon-arrow-right class="portfolio-modal__tags-button-icon" />
              <b>See all tags</b>
            </button>
          </div>
        </div>
        <div class="portfolio-modal__description">
          <p>{{ portfolio.description }}</p>
        </div>
      </div>
      <div class="portfolio-modal__metrics">
        <h3 class="portfolio-modal__title">Overall project progress</h3>
        <div class="portfolio-modal__progress">
          <xc-project-progress-bar
            [completed]="portfolio.completed || 4"
            [open]="portfolio.open || 3"
            [suggested]="portfolio.suggested || 6"
            [objectivesInProject]="portfolio.objectivesInProject || 10"
            class="portfolio-modal__progress-bar"
          />
        </div>
        <div class="portfolio-modal__graphs">
          <img src="assets/img/temp-pieGraph.png" alt="Graph" class="portfolio-modal__graph">
          <img src="assets/img/temp-pieGraph.png" alt="Graph" class="portfolio-modal__graph">
          <img src="assets/img/temp-pieGraph.png" alt="Graph" class="portfolio-modal__graph">
          <img src="assets/img/temp-pieGraph.png" alt="Graph" class="portfolio-modal__graph">
        </div>
      </div>
    </div>
    <div class="portfolio-modal__data">
      <h3 class="portfolio-modal__title">Project metrics</h3>
      <div class="portfolio-modal__data-flex">
        <div class="portfolio-modal__data-item">
          <h2 class="portfolio-modal__data-value">1.281.500€</h2>
          <p class="portfolio-modal__data-label">Project value</p>
        </div>
        <div class="portfolio-modal__data-item">
          <h2 class="portfolio-modal__data-value">83.814€</h2>
          <p class="portfolio-modal__data-label">Value added through collaborations</p>
        </div>
        <div class="portfolio-modal__data-item">
          <h2 class="portfolio-modal__data-value">156.814€</h2>
          <p class="portfolio-modal__data-label">value added through owners</p>
        </div>
        <div class="portfolio-modal__data-item">
          <h2 class="portfolio-modal__data-value">78%</h2>
          <p class="portfolio-modal__data-label">quality</p>
        </div>
        <div class="portfolio-modal__data-item">
          <h2 class="portfolio-modal__data-value">95</h2>
          <p class="portfolio-modal__data-label">collaborations</p>
        </div>
        <div class="portfolio-modal__data-item">
          <h2 class="portfolio-modal__data-value">116</h2>
          <p class="portfolio-modal__data-label">proofs uploaded</p>
        </div>
      </div>
      <div class="portfolio-modal__actions">
        <button class="btn">
          <p class="bold">Add to watchlist</p>
        </button>
        <button class="btn btn--filled">
          <p>Ask for access</p>
        </button>
      </div>
    </div>
  </article>
  <article class="portfolio-modal__metrics" *ngIf="currentSection === 'metrics'">
    <div class="portfolio-modal__metrics">
      <h3 class="portfolio-modal__title">Metric development</h3>
      <div class="portfolio-modal__metrics-flex">
        <div class="dropdown">
          <button class="dropdown__toggle">
            <p class="text--300">Metric</p>
            <span class="dropdown__icon">
              <xc-icon-angle-down class="btn__icon"/>
            </span>
          </button>
        </div>
        <div class="dots_graph">
          <img src="assets/img/temp-graph.png" alt="Graph" class="dots_graph-img">
        </div>
      </div>
    </div>
  </article>
  <article class="portfolio-modal__pitch" *ngIf="currentSection === 'pitch'">
    <div class="portfolio-modal__pitch-container">
      <h3 class="portfolio-modal__pitch-title">AI Pitch</h3>
      <div class="portfolio-modal__pitch-content">
        <img src="assets/img/Pitch-image.png" alt="Pitch" class="portfolio-modal__pitch-image">
        <span class="portfolio-modal__pitch-text">
          <h4 class="portfolio-modal__pitch-text-title">
            We are announcing the end of pitchdecks!
          </h4>
          <p>
            Automatic Pitch cards created by AI are coming soon!
          </p>
        </span>
      </div>
    </div>
  </article>
</section>
  