<section class="description">
    <div class="description_content">
        <article class="description_content-card">
            <h2>About Create MinVP for NextGen presentable for acquisition of partners, users and funding</h2>
            <p class="text_400">
                Develop a functional and engaging MVP for NextGen, called Challenga, focused on
                showcasing core features
                and the unique value proposition of the platform. The MVP should effectively demonstrate how NextGen
                solves key user needs in a Social lorem ipsum dolor.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </article>
        <button class="btn btn--rounded_xl" (click)="closeDescriptionModal()">
            <xc-icon-close-s class="btn__icon-lg" />
        </button>
    </div>
</section>