:host {
  display: flex;
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: auto;
  @media (max-width: 1510px) {
    height: calc(100% - 280px);

  }
}

.set_fund {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 165px;
  margin-right: 165px;
  height: calc(100% - 100px);
  @media (max-width: 1510px) {
    height: calc(100% - 280px);
    margin: 0px;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    @media (max-width: 1440px) {
      grid-template-columns: 1fr;
      row-gap: 32px;
    }
    .company_information {
      background: var(--xc-white);
      border-radius: var(--xc-rounded-eight);
      box-shadow: var(--xc-boxShadow-400);
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 24px;
      align-items: flex-start;
      justify-content: flex-start;
      @media (max-width: 1440px) {
        padding: 12px;
      }
      &-header {
        align-items: center;
        display: flex;
        width: 100%;
        height: 180px;
        img {
          display: flex;
          width: 100%;
          height: 100%;
          padding: 22px 80px;
          object-fit: contain;
        }
      }
      &-form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        .field {
          display: flex;
          flex-direction: column;
          gap: 6px;
          align-items: flex-start;
          width: 100%;
          input {
            display: flex;
            padding: 8px 11px;
            border: 1px solid var(--xc-grey200);
            border-radius: var(--xc-rounded-eight);
            outline: none;
            width: 100%;
          }
        }
        .company_info {
          display: flex;
          gap: 24px;
          label {
            flex: 1;
          }
          .country-select {
            display: flex;
            flex-direction: column;
            gap: 8px;
            select {
              display: flex;
              padding: 8px 11px;
              border: 1px solid var(--xc-grey200);
              border-radius: var(--xc-rounded-eight);
              outline: none;
              width: 100%;
            }
          }
        }
        .address_info {
          display: flex;
          gap: 16px;
          .street-field {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 6px;
            align-items: flex-start;
            width: 100%;
            @media screen and (max-width: 900px) {
              flex: 1;
            }
            input {
              display: flex;
              padding: 8px 11px;
              border: 1px solid var(--xc-grey200);
              border-radius: var(--xc-rounded-eight);
              outline: none;
              width: 100%;
            }
          }
          .zip-field {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 6px;
            align-items: flex-start;
            width: 100%;
            input {
              display: flex;
              padding: 8px 11px;
              border: 1px solid var(--xc-grey200);
              border-radius: var(--xc-rounded-eight);
              outline: none;
              width: 100%;
            }
          }
          .city-field {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 6px;
            align-items: flex-start;
            width: 100%;
            input {
              display: flex;
              padding: 8px 11px;
              border: 1px solid var(--xc-grey200);
              border-radius: var(--xc-rounded-eight);
              outline: none;
              width: 100%;
            }
          }
        }
        .company_proof {
          align-items: end;
          display: flex;
          gap: 8px;
          &-field {
            display: flex;
            flex-direction: column;
            gap: 6px;
            align-items: flex-start;
            width: 100%;
            flex: 1;
            input {
              display: flex;
              padding: 8px 11px;
              border: 1px solid var(--xc-grey200);
              border-radius: var(--xc-rounded-eight);
              outline: none;
              width: 100%;
            }
          }
          .upload-button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            padding: 8px 11px;
            border: 1px solid var(--xc-black500);
            border-radius: 8px;
            flex: 1;
            height: min-content;
            cursor: pointer;
            color: var(--xc-black500);
            input[type="file"] {
              display: none;
            }
          }
        }
        .company_files {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          width: 100%;
          .evidence {
            display: flex;
            align-items: center;
            gap: 4px;
            &_remove {
              display: flex;
              &-icon {
                height: 12px;
                stroke: var(--xc-categories-blocked);
                fill: var(--xc-categories-blocked);
                width: 12px;
              }
            }
          }
        }
      }
    }
    .valuation {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      gap: 24px;
      &_wrapper {
        background: var(--xc-white);
        border-radius: var(--xc-rounded-eight);
        box-shadow: var(--xc-boxShadow-400);
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px;
        align-items: flex-start;
        justify-content: flex-start;
        &-header {
          align-items: center;
          display: flex;
          width: 100%;
          height: 180px;
          img {
            display: flex;
            width: 100%;
            height: 100%;
            padding: 22px 80px;
            object-fit: contain;
          }
        }
        &-form {
          display: flex;
          gap: 16px;
          width: 100%;
          &-label {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            input {
              flex: 1;
              display: flex;
              border: 1px solid var(--xc-grey100);
              border-radius: var(--xc-rounded-eight);
              padding: 8px 11px;
              outline: none;
            }
          }
        }
        .legal_learn {
          text-decoration: underline;
        }
        .legal_advice {
          display: flex;
          flex-direction: column;
          gap: 24px;
          .learn {
            text-decoration: underline;
          }
        }
        .set_up {
          align-self: center;
        }
      }
    }
  }
}

.collaboration_fund {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  &-wrapper {
    align-items: center;
    background: var(--xc-white);
    border-radius: var(--xc-rounded-eight);
    box-shadow: var(--xc-boxShadow-400);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 32px;
    height: calc(100% - 120px);
    overflow-y: auto;
    width: 100%;
    @media (max-width: 1510px) {
      height: calc(100% - 280px);
      padding: 16px 16px;
    }
    .data {
      display: flex;
      align-items: end;
      padding-top: 12px;
      justify-content: center;
      width: 100%;
      gap: 64px;
      @media screen and (max-width: 1510px) {
        gap: 32px;
        padding-top: 6px;
        flex-wrap: wrap;
        justify-content: start;
      }
      &-wrapper {
        align-items: flex-end;
        display: flex;
        gap: 8px;
      }
    }
    .separator {
      height: 1.5px;
      border-bottom: 1px solid var(--xc-grey100);
      width: 100%;
    }
    .graphs {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      &_container {
        display: grid;
        grid-template-columns: 620px 1fr;
        column-gap: 32px;
        @media (max-width: 1510px) {
          align-self: center;
          grid-template-columns: 1fr;
          row-gap: 8px;
          column-gap: 0;
        }
        .pie-graph,
        .dots-graph {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 320px;
          overflow: hidden;
        }

        .pie-graph {
          width: 500px;
          @media (max-width: 1510px) {
            width: 350px;
          }
          &-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
          }
        }
      }

      .dots-graph {
        width: 100%;
        @media (max-width: 1510px) {
          width: 100%;
        }
        &-image {
          width: 100%;
          height: 100%;
          object-fit: contain;
          display: block;
        }
      }
    }
    .table {
      display: flex;
      flex-direction: column;
      padding: 0px 32px;
      gap: 32px;
      width: 100%;
      @media (max-width: 1510px) {
        padding: 0px;
      }
      &_wrapper {
        display: flex;
        width: 100%;
        border-radius: var(--xc-rounded-eight);

        .investment-table {
          border-collapse: separate;
          margin-right: auto;
          width: 100%;
          &_row {
            display: grid;
            grid-template-columns: 700px 160px 100px 100px 75px;
            gap: 16px;
            align-items: center;

            @media (max-width: 900px) {
              grid-template-columns: 80px 50px 50px 50px 35px;
            }
            @media (max-width: 1440px) {
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
          }

          &_cell {
            padding: 12px;

            &-header {
              text-align: start;
              color: var(--xc-grey500);
            }

            &-actions {
              display: flex;
              gap: 8px;
            }
          }

          &__name {
            display: flex;
            align-items: center;
            gap: 12px;

            .investment-table__avatar {
              width: 32px;
              height: 32px;
              object-fit: cover;
              border-radius: 50%;
              @media (max-width: 800px) {
                display: none;
              }
            }

            span {
              font-weight: 500;
            }
          }

          &__growth {
            display: flex;
            align-items: center;
            gap: 4px;

            .green,
            .red,
            .yellow {
              width: 16px;
              height: 16px;
            }

            .green {
              stroke: var(--xc-categories-completed);
            }

            .red {
              stroke: var(--xc-categories-blocked);
              transform: rotate(90deg);
            }

            .yellow {
              stroke: var(--xc-categories-yellow-filter);
              transform: rotate(45deg);
            }
          }

          &__button {
            display: flex;
            align-items: center;
            padding: 6px 12px;
            border: none;
            gap: 4px;

            &-suspend {
              background-color: #ffe1e1;

              &:hover {
                background-color: #ffbfbf;
              }
            }

            .icon {
              display: flex;
              width: 16px;
              height: 16px;
              stroke: var(--xc-black500);
            }
          }
        }
      }
    }
  }
}

.fund_reserve {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  &-modal {
    display: flex;
    gap: 16px;
    height: auto;
    width: auto;
  }
}
