<div class="custom-select">
  <button class="custom-select_header" (click)="toggleDropdown()">
    Add Objective to Goal
    <span class="custom-select_arrow" [class.open]="isOpen">
      <xc-icon-angle-up class="icon"/>
    </span>
  </button>

  <div class="custom-select_dropdown" *ngIf="isOpen">
    <strong>Dimension: Bussines</strong>
    <div class="custom-select_dropdown-category">
      <strong>Category: Roadmap and structure</strong>
      <span class="options">
        <button>Project definition</button>
        <button>Vision,Mission,Strategy</button>
      </span>
      <strong>Category: Roadmap and structure</strong>
      <span class="options">
        <button>Project definition</button>
        <button>Vision,Mission,Strategy</button>
      </span>
    </div>
  </div>
</div>