<div class="card">
  <xc-header-title title="Fabian Feutlinske (Xchange)" (editClicked)="onEditHeader()"></xc-header-title>
  <div class="info-rows">
    <span class="info-rows-span">
      <xc-info-row label="Completed objectives" [value]="11" class="info-rows-span-data"></xc-info-row>
      <xc-info-row label="Active objectives" [value]="50" class="info-rows-span-data"></xc-info-row>
    </span>
    <div class="divider"></div>
    <span class="info-rows-span">
      <xc-info-row label="Next steps" [value]="18" class="info-rows-span-data"></xc-info-row>
      <xc-info-row label="Involved projects" [value]="9" class="info-rows-span-data"></xc-info-row>
    </span>
  </div>
</div>