<div class="card">
  <xc-header-title title="Fabian Feutlinske (Xchange)" (editClicked)="onEditHeader()"></xc-header-title>
  <div class="info-rows">
    <span class="info-rows-span">
      <xc-info-row label="Completed objectives" [value]="15" class="info-rows-span-data"></xc-info-row>
      <xc-info-row label="Active objectives" [value]="32" class="info-rows-span-data"></xc-info-row>
    </span>
    <span class="info-rows-span">
      <xc-info-row label="Next steps" [value]="8" class="info-rows-span-data"></xc-info-row>
      <xc-info-row label="Involved projects" [value]="3" class="info-rows-span-data"></xc-info-row>
    </span>
  </div>
</div>