<div 
class="relative filter_wrapper max-[880px]:flex max-[880px]:flex-col max-[880px]:w-full"
(blur)="focusOut($event)"
[tabindex]="0"
[ngClass]="{'inputContainer': filterDescription === 'User Input Search' && selection}"
>
<div
  *ngIf="selection"
  class="absolute top-[50px] left-[-10px] flex filter-container
         max-[880px]:static max-[880px]:top-auto max-[880px]:left-auto
         max-[880px]:block max-[880px]:w-full
         max-[880px]:order-2 max-[880px]:mt-2"
  #dropContainer
  [ngClass]="{'staticPosition': filterDescription === 'User Input Search'}"
>
  <ng-content />
</div>
  <label
    [for]="labelName"
    class="filterSelector max-[880px]:w-full max-[880px]:order-1"
    [ngClass]="{ circleButton: (filterDescription === 'User Input Search' && !selection) }"
  >
    <input
      #test
      [id]="labelName"
      type="checkbox"
      (change)="this.selectionChange.emit(selection)"
      [(ngModel)]="selection"
    />
    
    <section
    class="selectorContainer"
    *ngIf="filterDescription !== 'User Input Search'"
    >
    <p class="text-Grey500">{{ filterDescription }}</p>
    <div class="w-6 h-6 fill-black stroke-black iconContainer">
      <xc-icon-angle-down />
    </div>
  </section>
  <section *ngIf="filterDescription === 'User Input Search'" class="w-5 h-5">
      <xc-icon-search />
    </section>
  </label>
</div>
