<div 
class="relative"
(blur)="focusOut($event)"
[tabindex]="0"
>
  <label
    [for]="labelName"
    class="filterSelector"
    [ngClass]="{ circleButton: filterDescription === 'User Input Search' }"
  >
    <input
      #test
      [id]="labelName"
      type="checkbox"
      (change)="this.selectionChange.emit(selection)"
      [(ngModel)]="selection"
    />

    <section
      class="selectorContainer"
      *ngIf="filterDescription !== 'User Input Search'"
    >
      <p class="text-Grey500">{{ filterDescription }}</p>
      <div class="w-6 h-6 fill-black stroke-black iconContainer">
        <xc-icon-angle-down />
      </div>
    </section>
    <section *ngIf="filterDescription === 'User Input Search'">
      <xc-icon-search />
    </section>
  </label>
  <div *ngIf="selection" class="absolute top-[50px] left-[-10px] flex" #dropContainer>
      <ng-content />
  </div>
</div>
