<section class="suspend_member">
  <div class="suspend_member_content">
    <article class="suspend_member_content-card">
      <header class="header">
        <img src="assets/img/Suspend-member.png" alt="suspend_member-header-image" class="header_image">
      </header>
      <h2>Suspend member</h2>
      <p>Do you really want to suspend Jose Jimenez from the ecosystem? The member will not be deleted but their access to the ecosystem is removed; contributions, contributed value and earned Xcoins remain.</p>
      <div class="actions_buttons">
        <button class="btn" type="button" (click)="onClose()">
          <xc-icon-times class="btn__icon cancel"/>
          <p>Cancel</p>
        </button>
        <button class="btn btn--ban">
          <xc-icon-ban class="btn__icon_ban" />
          <b class="ban_text">Suspend member</b>
        </button>
      </div>
    </article>
  </div>
</section>