<section class="dashboard">
  <h2 xcHeadlineStyles class="headline-500">Portfolio dashboard</h2>

  <article class="dashboard_portfolio">
    <div class="dashboard_portfolio-card">
      <section class="filter">
        <h3>Value</h3>
        <div class="filter_container">

          <article class="dropdown" >
            <span class="dropdown__header" (click)="toggleFilter()">
              <label class="text_400 dropdown__header__label" >
                Value
              </label>
              <xc-icon-angle-down class="dropdown__header__icon"/>
            </span>
          
            <div *ngIf="isFilterOpen" class="dropdown__menu">
              <button>test</button>
              <button>test2</button>
            </div>
          </article>

          <article class="dropdown" >
            <span class="dropdown__header" (click)="toggleFilter()">
              <label class="text_400 dropdown__header__label" >
                Portfolio group
              </label>
              <xc-icon-angle-down class="dropdown__header__icon"/>
            </span>
          
            <div *ngIf="isFilterOpen" class="dropdown__menu">
              <button>test</button>
              <button>test2</button>
            </div>
          </article>
          
        </div>
        <button class="btn btn--rounded_reset reset">
          <xc-icon-redo class="btn__icon" />
        </button>
      </section>
      <section class="graphs">
        <span class="graphs_main">
          <img src="assets/img/temp-graph.png" alt="temporal-graph" class="graphs_main-img">
        </span>
        <div class="graphs_data">
          <div class="graphs_data-spec">
            <span class="blue"></span>
            <p>Project 1</p>
          </div>
          <div class="graphs_data-spec">
            <span class="medBlue"></span>
            <p>Project 2</p>
          </div>
          <div class="graphs_data-spec">
            <span class="smBlue"></span>
            <p>Project 3</p>
          </div>
        </div>
      </section>
    </div>

    <div class="dashboard_portfolio-card-right">
      <h3>My portfolio</h3>
      <section class="right_aside">
        <div class="right_aside-graph">
          <span>
            <img src="assets/img/temp-pieGraph.png" alt="temporal pie graph">
          </span>
          <span class="right_aside-graph-data">
            <div class="data_dot">
              <span class="blue"></span>
              <p>Project 1</p>
            </div>
            <div class="data_dot">
              <span class="medBlue"></span>
              <p>Project 2</p>
            </div>
            <div class="data_dot">
              <span class="smBlue"></span>
              <p>Project 3</p>
            </div>
          </span>
        </div>
        <div class="right_aside-metrics">
          <table class="right_aside-metrics-table">
            <tr>
              <td class="align-end"><h2>83.814€</h2></td>
              <td class="align-start"><p>collaboration value</p></td>
            </tr>
            <tr>
              <td class="align-end"><h2 class="title">156.814€</h2></td>
              <td class="align-start"><p>owner added value</p></td>
            </tr>
            <tr>
              <td class="align-end"><h2 class="title">78%</h2></td>
              <td class="align-start"><p>average quality</p></td>
            </tr>
            <tr>
              <td class="align-end"><h2 class="title">95</h2></td>
              <td class="align-start"><p>collaborations</p></td>
            </tr>
            <tr>
              <td class="align-end"><h2 class="title">116</h2></td>
              <td class="align-start"><p>proofs uploaded</p></td>
            </tr>
          </table>
        </div>
        
      </section>
    </div>
  </article>

  <article class="dashboard_performance">
    <h3 xcHeadlineStyles class="headline-300">Performance per project</h3>
    <section class="overflow_wrapper">
      <table class="dashboard_performance-table">
        <thead>
          <tr>
            <th>
              <h4 class="titles">Project</h4>
            </th>
            <th>
              <h4 class="titles">Labels</h4>
            </th>
            <th>
              <h4 class="titles">Progress</h4>
            </th>
            <th>
              <h4 class="titles">Collab</h4>
            </th>
            <th>
              <h4 class="titles">Proof</h4>
            </th>
            <th>
              <h4 class="titles">Quality</h4>
            </th>
          </tr>
        </thead>
        <tbody >
          <ng-container *ngFor="let project of projects; let i = index" >
            <tr *ngIf="i !== 0" class="project-divider">
              <td colspan="6" class="divider-cell">
                <div class="divider-line"></div>
              </td>
            </tr>
            <tr class="table_row">
              <td class="table_project" (click)="toggleExpand(i)">
                <xc-icon-play class="table_icon" [ngClass]="{'rotated': project.expanded,'icon-collapsed': !project.expanded}"></xc-icon-play>
                <h3>{{ project.title }}</h3>
              </td>
              <td class="table_tags">
                <span *ngFor="let tag of project.tags" xcProfileTags="gray" class="tag">{{ tag }}</span>
              </td>
              <td class="table_progress"></td>
              <td class="bold table_numeric">{{ project.collab }}</td>
              <td class="bold table_numeric">{{ project.proof }}</td>
              <td class="bold table_numeric">{{ project.quality }}</td>
            </tr>
            <tr *ngFor="let sub of project.subprojects" class="expandable-row" [class.open]="project.expanded">
              <td class="table_project">
                <p>{{ sub.title }}</p>
              </td>

              <td class="table_tags">
                <span *ngFor="let tag of sub.tags" xcProfileTags="gray" class="tag">{{ tag }}</span>
              </td>

              <td class="table_progress">
                <span class="table_progress-pending">{{ sub.active }}</span>
                <span class="table_progress-completed">{{ sub.completed }}</span>
              </td>

              <td class="table_numeric">{{ sub.collab }}</td>
              <td class="table_numeric">{{ sub.proof }}</td>
              <td class="table_numeric">{{ sub.quality }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </section>
  </article>
</section>