<section class="dashboard">
    <h2 xcHeadlineStyles class="headline-500">Portfolio dashboard</h2>
  
    <article class="dashboard_portfolio">
      <div class="dashboard_portfolio-card">
        <div class="filter">
          <p xcHeadlineStyles class="headline-300">Value</p>
          
        </div>
      </div>
      <div class="dashboard_portfolio-card"></div>
    </article>
  
    <article class="dashboard_performance">
      <h3 xcHeadlineStyles class="headline-300">Performance per project</h3>
    </article>
  </section>
  