.info-row {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: 4px;
    gap: 4px;
    width: 100%;
    text-align: end;
  }

  .value{
    text-align: end;
  }
  .label{
    display: flex;
    align-items: end;
    text-align: end;
    height: 100%;
  }