.info-row {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: 4px;
    gap: 4px;
    width: 100%;
    .label {
      font-weight: 500;
      color: var(--xc-black500);
      text-wrap: nowrap;
    }
    .value {
      font-weight: bold;
      flex: 0 0 auto;
      color: #000;
    }
  }