<div class="filter_header">
    <xc-navigator-filter-selector [index]="11" filterDescription="Members" class="filter_header-selector">
        <xc-navigator-users-filter [users]="collaborator" />
    </xc-navigator-filter-selector>
    <xc-navigator-filter-selector [index]="12" filterDescription="Objective state" class="filter_header-selector">
        <xc-navigator-objective-status-filter/>
    </xc-navigator-filter-selector>
    <xc-navigator-filter-selector [index]="13" filterDescription="Date" class="filter_header-selector">
        <xc-navigator-range-filter/>
    </xc-navigator-filter-selector>
    <xc-navigator-filter-selector [index]="14" filterDescription="Value" class="filter_header-selector">
        <xc-navigator-range-filter type="value" />
    </xc-navigator-filter-selector>
</div>