<section
  *ngFor="let data of mockData"
  class="feed-objective"
  [ngClass]="{
    'feed-objective--yellow': data.type === 'objective',
    'feed-objective--blue': data.type === 'assignment',
    'feed-objective--purple': data.type === 'nextSteps'
  }"
>
<div class="feed-header">
  <h6 xcHeadlineStyles class="headline-200">{{ data.title }}</h6>
  <p *ngIf="data.type === 'assignment'" xcProfileTags="blue">
    New Assignment
  </p>
  <p *ngIf="data.type === 'nextSteps'" xcProfileTags="purple">
    Suggested
  </p>
</div>
  <div class="feed-tags">
    <p xcProfileTags="gray" class="feed-tag" *ngFor="let tag of data.tags">
      {{ tag }}
    </p>
  </div>
  <div>
    <p xcCopyStyles class="copy-400">{{ data.description }}</p>
  </div>
  <div class="feed-details">
    <div class="feed-tasks">
      <div class="task-item" *ngIf="data.type !== 'nextSteps'">
        <span class="task-icon"><xc-icon-file-check-alt class="icon"/></span>
        <p xcCopyStyles class="copy-200-gray">{{ data.completedTasks }}/{{ data.totalTasks }}</p>
      </div>
      <div class="task-item" *ngIf="data.type !== 'nextSteps'">
        <span class="task-icon"><xc-icon-paperclip class="icon"/></span>
        <p xcCopyStyles class="copy-200-gray">{{ data.proofs }} proofs</p>
      </div>
      <div class="task-item" *ngIf="data.type !== 'nextSteps'">
        <span class="task-icon"><xc-icon-calender class="icon"/></span>
        <p xcCopyStyles class="copy-200-gray">{{ data.deadlineDate }}</p>
      </div>
    </div>
    <div
      [ngClass]="{
        'feed-actions': data.type === 'assignment',
        hidden: data.type !== 'assignment'
      }"
    >
      <button class="action-button">
        <span class="button-icon"></span>
        <p class="button-text"></p>
      </button>
      <button class="action-button">
        <span class="button-icon"></span>
        <p class="button-text"></p>
      </button>
    </div>
  </div>
</section>
