.aside-nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 19px;
    width: 270px;
    height: 100%;
    background-color: var(--xc-white);
    padding: 16px;
    border-radius: 8px;
}

.temp{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}

.aside-nav__header {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    font-family: Manrope;
    font-size: 16px;
    margin-bottom: 2px;
    width: 100%;
}

.aside-nav__title {
    margin: 0;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.aside-nav__logo {
    width: 28px;
    height: 21px;
}

.aside-nav__tabs {
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-self: stretch;
}

.aside-nav__active-tab {
    color: black;
    background: var(--xc-gradient-light-grey-on-white);
    padding: 8px 10px 8px 11px;
    border-radius: 8px 0px 0px 8px;
    flex: 1 0 0;
    font-size: 14px;
    font-family: Manrope;
    font-weight: 500;
}

.aside-nav__nonact-tab {
    display: flex;
    justify-content: center;
    padding: 8px 10px 8px 11px;
    text-align: center;
    flex: 1 0 0;
    color: var(--xc-grey500);
    border-radius: 0px 8px 8px 0px;
    border-top: 1.5px solid var(--xc-grey100);
    border-right: 1.5px solid var(--xc-grey100);
    border-bottom: 1.5px solid var(--xc-grey100);
    font-size: 14px;
    font-family: Manrope;
    font-weight: 500;
}

.aside-nav__menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.aside-nav__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #666;
}

.aside-nav__label {
    font-size: 14px;
}

.aside-nav__bottom-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20%;
    align-items: start;
    width: 100%;
}

.user_profile {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    border-radius: 120px;
    width: 100%;
}

.user_img {
  width: 24px;
  height: 24px;
    border-radius: 12px;
}

.img_wrapper {
    
    display: flex;
    gap: 8px;
}

.arrow_wrapper{
    width: 24px;
    height: 24px;
    stroke: black;
}

.arrow_icon{
    width: 24px;
    height: 24px;
    stroke: black;
}



.support_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.support_span{
    display: flex;
    gap: 8px;
}

.support_icon{
    width: 24px;
    height: 24px;
    stroke: black;
}

.logout_wrapper{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.logout_span{
    display: flex;
    gap: 8px;
}
.logout_icon{
    width: 24px;
    height: 24px;
    stroke: black;
}