.aside-nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 19px;
    width: 270px;
    height: 100%;
    background-color: var(--xc-white);
    padding: 24px;
    border-radius: 8px;
}

.aside-nav__top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    width: 100%;
}

.aside-nav__header {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    margin-bottom: 2px;
}

.aside-nav__title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    font-family: Manrope;
    display: flex;
    align-items: center;
}

.aside-nav__logo {
    width: 28px;
    height: 21px;
}

.aside-nav__tabs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: stretch;
}

.aside-nav__tab {
    flex: 1 0 0;
    padding: 8px 10px 8px 11px;
    font-size: 14px;
    font-family: Manrope;
    font-weight: 500;
}

.aside-nav__tab--active {
    color: black;
    background: var(--xc-gradient-light-grey-on-white);
    border-radius: 8px 0px 0px 8px;
}

.aside-nav__tab-right{
    color: black;
    border-radius: 0px 8px 8px 0px;
    flex: 1 0 0;
    padding: 8px 10px 8px 11px;
    font-size: 14px;
    font-family: Manrope;
    font-weight: 500;
}

.aside-nav__tab--inactive {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--xc-grey500);
    border-radius: 0px 8px 8px 0px;
    border-top: 1.5px solid var(--xc-grey100);
    border-right: 1.5px solid var(--xc-grey100);
    border-bottom: 1.5px solid var(--xc-grey100);
}

.aside-nav__menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.aside-nav__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #666;
}

.aside-nav__label {
    font-size: 14px;
}

.aside-nav__wifi{
    transform: rotate(45deg);
}

.aside-nav__bottom-menu {
    display: flex;
    flex-direction: column;
    height: 15%;
    justify-content: space-around;
    gap: 8px;
    align-items: start;
    width: 100%;
}

.aside-nav__user,
.aside-nav__support,
.aside-nav__logout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


.aside-nav__user-info,
.aside-nav__support-info,
.aside-nav__logout-info {
    display: flex;
    gap: 8px;
    align-items: center;
}

.aside-nav__user-img {
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.aside-nav__text {
    font-size: 14px;
    margin: 0;
}

.aside-nav__arrow {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside-nav__arrow-icon {
    width: 24px;
    height: 24px;
    stroke: black;
}

.aside-nav__support-icon,
.aside-nav__logout-icon {
    width: 24px;
    height: 24px;
    stroke: black;
}