<aside class="aside-nav">
  <div class="aside-nav__top">
    <header class="aside-nav__header">
      <img
        src="/assets/img/X-Vector.webp"
        alt="Xchange-logo"
        class="aside-nav__logo"
      />
      <h2 class="aside-nav__title">camp</h2>
    </header>
    <div class="aside-nav__tabs">
      <button
        class="aside-nav__tab"
        [ngClass]="{ 'aside-nav__tab--active': activeTab === 'ecosystem' }"
        (click)="setActiveTab('ecosystem')"
      >
        Ecosystem
      </button>
      <button
        class="aside-nav__tab-right"
        [ngClass]="{ 'aside-nav__tab--active': activeTab === 'project' }"
        (click)="setActiveTab('project')"
      >
        Project
      </button>
    </div>
    <nav class="aside-nav__menu" *ngIf="activeTab === 'ecosystem'">
      <xc-aside-links [route]="'/feed'" [label]="'Feed'" class="nav-item">
        <span icon class="aside-nav__wifi">
          <xc-icon-wifi></xc-icon-wifi>
        </span>
      </xc-aside-links>
      <xc-aside-links [route]="'/projects'" [label]="'Projects'">
        <span icon>
          <xc-icon-rocket></xc-icon-rocket>
        </span>
      </xc-aside-links>
      <xc-aside-links [route]="'/community'" [label]="'Community'">
        <span icon>
          <xc-icon-users-alt></xc-icon-users-alt>
        </span>
      </xc-aside-links>
      <xc-aside-links [route]="'/dashboard'" [label]="'Dashboard'">
        <span icon>
          <xc-icon-chart></xc-icon-chart>
        </span>
      </xc-aside-links>
      <xc-aside-links [route]="'/admin'" [label]="'Admin'">
        <span icon>
          <xc-icon-setting></xc-icon-setting>
        </span>
      </xc-aside-links>
    </nav>
    <nav class="aside-nav__menu" *ngIf="activeTab === 'project'">
        <xc-aside-links [route]="'/project-feed'" [label]="'Project Feed'">
            <span icon class="aside-nav__wifi">
                <xc-icon-wifi></xc-icon-wifi>
            </span>
          </xc-aside-links>
          <xc-aside-links [route]="'/project-dashboard'" [label]="'Dashboard'">
            <span icon>
              <xc-icon-chart></xc-icon-chart>
            </span>
          </xc-aside-links>
          <xc-aside-links [route]="'/navigator'" [label]="'Dashboard'">
            <span icon>
              <xc-icon-compass></xc-icon-compass>
            </span>
          </xc-aside-links>
          <xc-aside-links [route]="'/goals'" [label]="'Goals'">
            <span icon>
              <xc-icon-crosshair></xc-icon-crosshair>
            </span>
          </xc-aside-links>
          <xc-aside-links [route]="'/rewards'" [label]="'Rewards'">
            <span icon>
              <xc-icon-star></xc-icon-star>
            </span>
          </xc-aside-links>
          <xc-aside-links [route]="'/settings'" [label]="'Settings'">
            <span icon>
              <xc-icon-setting></xc-icon-setting>
            </span>
          </xc-aside-links>
    </nav>
  </div>
  <nav class="aside-nav__bottom-menu" *ngFor="let user of users">
    <button href="/profile" class="aside-nav__user">
      <span class="aside-nav__user-info">
        <img
          src="https://randomuser.me/api/portraits/women/28.jpg"
          alt="user_image"
          class="aside-nav__user-img"
        />
        <p class="aside-nav__text">My profile</p>
      </span>
      <span class="aside-nav__arrow">
        <xc-icon-angle-right class="aside-nav__arrow-icon" />
      </span>
    </button>
    <button href="/support" class="aside-nav__support">
      <span class="aside-nav__support-info">
        <xc-icon-question-circle class="aside-nav__support-icon" />
        <p class="aside-nav__text">Support</p>
      </span>
      <span class="aside-nav__arrow">
        <xc-icon-angle-right class="aside-nav__arrow-icon" />
      </span>
    </button>
    <button href="/logout" class="aside-nav__logout">
      <span class="aside-nav__logout-info">
        
        <xc-log-out-icon class="aside-nav__logout-icon"/>
        <p class="aside-nav__text">Logout</p>
      </span>
      <span class="aside-nav__arrow">
        <xc-icon-angle-right class="aside-nav__arrow-icon" />
      </span>
    </button>
  </nav>
</aside>
