<div class="card">
  <header class="card_header">
    <img
      src="assets/img/Buy-tenant.png"
      alt="image-header"
      class="card_header-image"
    />
  </header>
  <section class="card_content">
    <h3>
      What part of your project value do you want to reserve for your fund?
    </h3>
    <p>
      You reserve certain percentages for external collaborators and employees
      to reward them with credits for their work. This percentage grows as the
      value of your project grows. You can’t distribute more rewards than this
      reserved value. And you can’t change this reserve once it is set because
      it is becomes part of the contact between you and your collaborator. Learn
      more.
    </p>
    <label class="card_content-field">
        <b>Fund reserve (1-20%)</b>
        <input type="number" value="0%">
    </label>
    <div class="card_content-actions">
        <button class="btn">
            <xc-icon-times class="btn__icon"/>
            <p>cancel</p>
        </button>
        <button class="btn btn--filled">
            <xc-icon-save class="btn__icon_filled"/>
            <p>Save</p>
        </button>
    </div>
  </section>
</div>
